<section>

    <h4 class="study">SEARCH COURSES</h4>

    <div class="banner_section ireland-banner">
        <div class="australia">
            <div class="aus new">
                <!--  <h2>Study in Australia</h2> -->
                <ul>
                    <li>
                        <input type="text" class="form-control subject" placeholder="Subject Area">
                    </li>
                    <li>
                        <input type="text" class="form-control subject" placeholder="Qualification">
                    </li>
                    <li>
                        <button class="banner-button">Search</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="most_popular">
        <div class="container1440">
            <ul class="nav nav-pills canada-course  mb-3" id="pills-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="pills-tab-1-tab" data-toggle="pill" href="#pills-tab-1" role="tab"
                        aria-controls="pills-tab-1" aria-selected="true">Study in Ireland
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-tab-2-tab" data-toggle="pill" href="#pills-tab-2" role="tab"
                        aria-controls="pills-tab-2" aria-selected="false">Education system</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-tab-3-tab" data-toggle="pill" href="#pills-tab-3" role="tab"
                        aria-controls="pills-tab-3" aria-selected="false">Destination of study
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-tab-4-tab" data-toggle="pill" href="#pills-tab-4" role="tab"
                        aria-controls="pills-tab-4" aria-selected="false">Study Options</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-tab-5-tab" data-toggle="pill" href="#pills-tab-5" role="tab"
                        aria-controls="pills-tab-5" aria-selected="false">Cost of studying</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-tab-6-tab" data-toggle="pill" href="#pills-tab-6" role="tab"
                        aria-controls="pills-tab-6" aria-selected="false">Scholarships</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-tab-7-tab" data-toggle="pill" href="#pills-tab-7" role="tab"
                        aria-controls="pills-tab-7" aria-selected="false">Benefits of studying</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link" id="pills-tab-8-tab" data-toggle="pill" href="#pills-tab-8" role="tab" aria-controls="pills-tab-8" aria-selected="false">tab-3</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="pills-tab-9-tab" data-toggle="pill" href="#pills-tab-9" role="tab" aria-controls="pills-tab-9" aria-selected="false">tab-3</a>
                  </li> -->
            </ul>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-tab-1" role="tabpanel"
                    aria-labelledby="pills-tab-1-tab">
                    <h4><strong>Study In Ireland</strong></h4>

                    <div class="text2">
                        The Republic of Ireland is not to be confused with Northern Ireland, which is still an integral part of the United Kingdom. Ireland has a wide variety of institutions offering several programmes and they provide a dynamic learning experience. Writers like George Bernard Shaw, Oscar Wilde and James Joyce are all part of the Irish Literary world.
                        <br>
                    </div>
                </div>
                <div class="tab-pane fade" id="pills-tab-2" role="tabpanel" aria-labelledby="pills-tab-2-tab">
                    <h5><strong>Education system in Ireland</strong> </h5>
                   <div class="text2">
                    Irish institutions are classified into three categories: Private independent colleges, Universities and institute of technologies. Irish university are autonomous but funded by the state government. The universities have a range of undergraduate and postgraduate courses on offer. There are 7 universities in Ireland, 14 Institute of Technologies and they have diploma, certificate and degree programmes in areas like business, linguistics, science and engineering. Private independent colleges have certificate, degree and vocational programmes in the field of art & design, rural development, business studies and law. Ireland accepts students with 15 years of education for postgraduate studies. It’s a young country and has over 200,000 international students.

                   </div>

                   

                </div>
                <div class="tab-pane fade" id="pills-tab-3" role="tabpanel" aria-labelledby="pills-tab-3-tab">
                    <h5> <strong> Ireland as a destination of study</strong></h5>
                    <ul class="dots">
                        <li>The quality of Irish education system is one of the best in Europe
                        </li>
                        <li> Irish higher education institutions excel in many disciplines and are known for their teaching and research
                        </li>
                        <li>Being an English-speaking country, it’s a hub of technological innovations and scientific research
                        </li>
                        <li>Irish people are known for their friendly nature and hospitality
                        </li>
                        <li> Ireland’s landscape is extraordinary, and it is a dynamic and modern country.
                        </li>
                    </ul>

                    <h5> <strong> Things to do while studying in Ireland </strong></h5>
                    <div class="text2">
                        Irish people are known to be fun-loving people and take great pride in their Nordic Saxon heritage. They are passionate about rugby, football and their food and drink and most towns have restaurants to cater to every budget and taste. Bread and Irish stew, shepherd’s Pie and Guinness are a big part of the Irish Cuisine. An international student with a modest lifestyle can live comfortably with 1500 – 1600 Euros per month. Ireland is a place of amazing beauty and some of the popular tourist attractions are:

                    </div>
                    <ul class="dots">
                        <li>Saint Patrick’s Cathedral in Armagh and in Dublin </li>
                        <li>Dublin Castle – the seat of power of the British empire, when they ruled Ireland
                        </li>
                        <li>The rock of Cashel – an ancient fortress town </li>
                        <li> Kilkenny Castle - originally built in 1172 as a wooden structure. It is not a stone structure and maintained as a heritage site by the government.
                        </li>
                        <li> The National Gallery of Ireland – a museum preserving Irish and European art collections </li>

                    </ul>
                    
                </div>
                <div class="tab-pane fade" id="pills-tab-4" role="tabpanel" aria-labelledby="pills-tab-4-tab">
                    <h5> <strong>Study Options in Ireland</strong></h5>
                   
                   <div class="text2">
                    The primary academic intake begins in September at most colleges and universities in Ireland, though a few institutions offer an intake in February. Undergraduate degree programmes usually last for 3 to 4 years. Postgraduate qualifications awarded could be postgraduate diploma or PhD. Both postgraduate taught and research courses are offered by Irish institutions. A postgraduate qualification lasts for 1-2 years and a PhD last for 3 years at Irish institutions.

                   </div>
                </div>
                <div class="tab-pane fade" id="pills-tab-5" role="tabpanel" aria-labelledby="pills-tab-5-tab">
                    <h5> <strong>Cost of studying in Ireland</strong> </h5>
                  
                   <div class="text2"> 
                    Dublin and Cork have become attractive options for world-class higher education for international students. This is mainly because of the cost of living is much cheaper in Ireland when compared to London or New York. The proximity to London also allows students to visit London during the weekends. Students studying in Ireland have to pay around €10,000 and €30,000 depending on the course they opt for. The living costs may range from €600 - €800 per month for international students. Average cost of food could be around €200 per month. Additional expenses include, transport costs, health insurance.

                   </div>
                    
                </div>
                <div class="tab-pane fade" id="pills-tab-6" role="tabpanel" aria-labelledby="pills-tab-6-tab">
                    <h5> <strong> Scholarships for International students </strong> </h5>
                   <div class="text2">
                    Some of the popular scholarships for international students are:

                   </div>
                 <ul class="dots">
                    <li> NUI Galway international student scholarship
                    </li>
                    <li> University College Dublin scholarships
                    </li>
                    <li> Trinity College Dublin scholarships

                    </li>
                 </ul>
                </div>
                <div class="tab-pane fade" id="pills-tab-7" role="tabpanel" aria-labelledby="pills-tab-7-tab">
                    <h5> <strong> Benefits of studying in Ireland </strong> </h5>
                   <ul class="dots">
                    <li> All courses are taught in English
                    </li>
                    <li>Courses are recognised globally and accredited by leading academic bodies
                    </li>
                    <li> Scholarships available for international students
                    </li>
                    <li> Proximity to London and is well connected to rest of Europe
                    </li>
                    <li> Ireland is a land of astounding beauty with amazing cliffs, lakes ad beaches
                    </li>
                    <li> Dublin is a tech hub in Ireland and it’s also Google’s European headquarters
                    </li>
                    <li> Ireland is also known as the largest exporter of software worldwide and is also well-known for its pharmaceutical industries
                    </li>
                    <li> International students studying at Irish institutions can work part-time for 20 hours per week
                    </li>
                    <li> Irish universities are well connected with local industries and encourage students to take up internships during their study period.
                    </li>
                   </ul>
                </div>
                <!-- <div class="tab-pane fade" id="pills-tab-8" role="tabpanel" aria-labelledby="pills-tab-8-tab">...</div>
                <div class="tab-pane fade" id="pills-tab-9" role="tabpanel" aria-labelledby="pills-tab-9-tab">...</div> -->
            </div>
        </div>
    </div>

    <div class="most_popular">
        <div class="container1440">
            <h4 class="most">Most Popular Universities in Ireland</h4>
            <div class="row">
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-4">
                    <div class="images_sec">
                        <img src="assets/images/Layer1.png">
                        <div class="rmit">
                            <h1>RMIT</h1>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-4">
                    <div class="images_sec">
                        <img src="assets/images/Layer2.png">
                        <div class="rmit">
                            <h1>RMIT</h1>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-4">
                    <div class="images_sec">
                        <img src="assets/images/Folder 4.png">
                        <div class="rmit">
                            <h1>RMIT</h1>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-4">
                    <div class="images_sec">
                        <img src="assets/images/Layer3.png">
                        <div class="rmit">
                            <h1>RMIT</h1>
                        </div>
                    </div>
                </div>


                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-4">
                    <div class="images_sec">
                        <img src="assets/images/Layer1.png">
                        <div class="rmit">
                            <h1>RMIT</h1>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-4">
                    <div class="images_sec">
                        <img src="assets/images/Layer2.png">
                        <div class="rmit">
                            <h1>RMIT</h1>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-4">
                    <div class="images_sec">
                        <img src="assets/images/Folder 4.png">
                        <div class="rmit">
                            <h1>RMIT</h1>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-4">
                    <div class="images_sec">
                        <img src="assets/images/Layer3.png">
                        <div class="rmit">
                            <h1>RMIT</h1>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-4">
                    <div class="images_sec">
                        <img src="assets/images/Layer1.png">
                        <div class="rmit">
                            <h1>RMIT</h1>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-4">
                    <div class="images_sec">
                        <img src="assets/images/Layer2.png">
                        <div class="rmit">
                            <h1>RMIT</h1>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-4">
                    <div class="images_sec">
                        <img src="assets/images/Folder 4.png">
                        <div class="rmit">
                            <h1>RMIT</h1>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-4">
                    <div class="images_sec">
                        <img src="assets/images/Layer3.png">
                        <div class="rmit">
                            <h1>RMIT</h1>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-4">
                    <div class="images_sec">
                        <img src="assets/images/Layer1.png">
                        <div class="rmit">
                            <h1>RMIT</h1>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-4">
                    <div class="images_sec">
                        <img src="assets/images/Layer2.png">
                        <div class="rmit">
                            <h1>RMIT</h1>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-4">
                    <div class="images_sec">
                        <img src="assets/images/Folder 4.png">
                        <div class="rmit">
                            <h1>RMIT</h1>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-4">
                    <div class="images_sec">
                        <img src="assets/images/Layer3.png">
                        <div class="rmit">
                            <h1>RMIT</h1>
                        </div>
                    </div>
                </div>



            </div>


           


        </div>
    </div>

</section>