<section>

    <h4 class="study">Search Courses</h4>

    <div class="banner_section">
        <div class="australia">
            <div class="aus new">
                <!--  <h2>Study in Australia</h2> -->
                <ul>
                    <li>
                        <input type="text" class="form-control subject" placeholder="Subject Area">
                    </li>
                    <li>
                        <input type="text" class="form-control subject" placeholder="Qualification">
                    </li>
                    <li>
                        <button class="banner-button">Search</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="most_popular">
        <div class="container1440">
            <ul class="nav nav-pills canada-course  mb-3" id="pills-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="pills-tab-1-tab" data-toggle="pill" href="#pills-tab-1" role="tab"
                        aria-controls="pills-tab-1" aria-selected="true">Study in Canada
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-tab-2-tab" data-toggle="pill" href="#pills-tab-2" role="tab"
                        aria-controls="pills-tab-2" aria-selected="false">Education system</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-tab-3-tab" data-toggle="pill" href="#pills-tab-3" role="tab"
                        aria-controls="pills-tab-3" aria-selected="false">Destination of study
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-tab-4-tab" data-toggle="pill" href="#pills-tab-4" role="tab"
                        aria-controls="pills-tab-4" aria-selected="false">Study Options</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-tab-5-tab" data-toggle="pill" href="#pills-tab-5" role="tab"
                        aria-controls="pills-tab-5" aria-selected="false">Cost of studying</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-tab-6-tab" data-toggle="pill" href="#pills-tab-6" role="tab"
                        aria-controls="pills-tab-6" aria-selected="false">Scholarships</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-tab-7-tab" data-toggle="pill" href="#pills-tab-7" role="tab"
                        aria-controls="pills-tab-7" aria-selected="false">Benefits of studying</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link" id="pills-tab-8-tab" data-toggle="pill" href="#pills-tab-8" role="tab" aria-controls="pills-tab-8" aria-selected="false">tab-3</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="pills-tab-9-tab" data-toggle="pill" href="#pills-tab-9" role="tab" aria-controls="pills-tab-9" aria-selected="false">tab-3</a>
                  </li> -->
            </ul>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-tab-1" role="tabpanel"
                    aria-labelledby="pills-tab-1-tab">
                    <h4><strong>Study In Canada</strong></h4>

                    <div class="text2">
                        Canada is another popular destination of study for International students. Canada has been
                        welcoming
                        international students in every city. With its range of landscapes, glacial peaks, icefields,
                        green
                        vegetation and massive mountains, there is a long list of Canadian scenic wonders for visitors.
                        Whilst
                        in Canada, most visited tourist attractions are the Niagara Falls, the 135 km long Okanagan Lake
                        with
                        its Ogopogo lake monster, the Glacier National Park, the Banff National Park and the Canadian
                        Rockies. <br>
                    </div>
                </div>
                <div class="tab-pane fade" id="pills-tab-2" role="tabpanel" aria-labelledby="pills-tab-2-tab">
                    <h5><strong>Education system in Canada</strong> </h5>
                    The higher education system in Canada is not very different from the American education system, with
                    a
                    little influence form Britain. There are mainly three types of institutions.

                    <ul class="dots">

                    <li><strong> Public Universities:</strong> Public universities in Canada are run by the provincial,
                        territorial or federal government funding besides receiving the tuition fees from students.
                    </li>
                    <li><strong> Private Universities:</strong>Private universities in Canada are mostly funded by
                        donations and research grants. These universities do not receive funding from the government
                        bodies.
                    </li>
                    <li><strong> Liberal Arts Colleges:</strong> Liberal arts colleges in Canada are similar to those in
                        the
                        USA. These are either public or private colleges with a primary emphasis on undergraduate
                        courses in
                        liberal arts. </li>
                    </ul>

                </div>
                <div class="tab-pane fade" id="pills-tab-3" role="tabpanel" aria-labelledby="pills-tab-3-tab">
                    <h5> <strong> Canada as a destination of study</strong></h5>
                    The United Nations consistently ranks Canada as one of the best places in the world to live, given
                    its
                    low crime rate. Montreal and Toronto are two large cities that has a lot to offer for International
                    students. Toronto, an ethnically diverse city is also a major centre of higher learning and research
                    with many well-known institutions such as University of Toronto. The City of Saints, Montreal is one
                    that defies all expectation with its mix of North American & European swagger and cutting-edge
                    culture.
                    There are also walk-safe programmes, where volunteers assist people in getting to public
                    transportation
                    or homes during late hours at night.
                    
                </div>
                <div class="tab-pane fade" id="pills-tab-4" role="tabpanel" aria-labelledby="pills-tab-4-tab">
                    <h5> <strong>Study Options in Canada</strong></h5>
                    Canadian institutions offer three major intakes, Fall, Winter and Summer. The Fall intake is the
                    primary
                    intake in most colleges which starts from September whilst a few colleges offer a Winter intake
                    which
                    starts from January. International students are advised to apply as early as possible as
                    scholarships
                    and admissions get more competitive closer to the deadline. An application deadline would be 6 to 9
                    months before the session starts and it can vary depending on each department and the subject of
                    choice
                    though deadlines are not flexible, except for diploma programmes, some institutions might accept
                    students if places are still available.
                    Students can choose from a range of study programmes

                    <li>Certificate or diploma (one or two years)</li>
                    <li>Advanced diploma (two or three years)</li>
                    <li>Undergraduate degree (three or four years)</li>
                    <li>Postgraduate degree (two years)</li>
                    <li>PhD (four or five years with dissertation)</li>

                    Popular courses at the undergraduate levels are engineering and administrative studies and at the
                    postgraduate level are Management, Finance, MBA and LLB degrees.
                </div>
                <div class="tab-pane fade" id="pills-tab-5" role="tabpanel" aria-labelledby="pills-tab-5-tab">
                    <h5> <strong>Cost of studying in Canada</strong> </h5>
                    The cost of studying in Canada is relatively cheaper compared to the other popular destinations. The
                    tuition fees vary according to the institutions. The average tuition fee is around CAD 10,000 0
                    40,000
                    per year. Living expenses will depend on the location and the type of accommodation, i.e. private,
                    homestay or campus accommodation. On average, students pay CAD 6,000 – 8000 per year for their
                    accommodation. Health insurance and transport costs will be an additional cost.
                    International students can work part-time for 20 hours per week. They are permitted to work on
                    campus
                    for the first 6 months and then off campus post this period. Some universities with more intensive
                    courses only allow their students to work for 12 hours per week.
                </div>
                <div class="tab-pane fade" id="pills-tab-6" role="tabpanel" aria-labelledby="pills-tab-6-tab">
                    <h5> <strong> Scholarships for international students </strong> </h5>
                    Government and non-government scholarships are available for international students in Canada. These
                    include:
                    <h6> <strong> Government scholarships </strong> </h6>
                    <li> Canada graduate scholarships </li>
                    <li> NSERC postgraduate scholarships </li>
                    <h6> <strong> Non – Government scholarships </strong> </h6>
                    <li> Canadian Rhodes Scholars Foundation scholarship </li>
                    <li> Trudeau scholarships and fellowships </li>
                    In addition to this, there are institution specific scholarships for international students.
                </div>
                <div class="tab-pane fade" id="pills-tab-7" role="tabpanel" aria-labelledby="pills-tab-7-tab">
                    <h5> <strong> Benefits of studying in Canada </strong> </h5>
                    <li> There are several options to choose from big or small universities and small – town or city
                        universities. </li>
                    <li> Students can enjoy an active and varied lifestyle in the beautiful country, along with great
                        health
                        care benefits. </li>
                    <li> Students will have incredible opportunities to meet like-minded people and gain valuable
                        international student experience through student clubs and organisations. </li>
                </div>
                <!-- <div class="tab-pane fade" id="pills-tab-8" role="tabpanel" aria-labelledby="pills-tab-8-tab">...</div>
                <div class="tab-pane fade" id="pills-tab-9" role="tabpanel" aria-labelledby="pills-tab-9-tab">...</div> -->
            </div>
        </div>
    </div>

    <div class="most_popular">
        <div class="container1440">
            <h4 class="most">Most Popular Universities in Canada</h4>
            <div class="row">
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-4">
                    <div class="images_sec">
                        <img src="assets/images/Layer1.png">
                        <div class="rmit">
                            <h1>RMIT</h1>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-4">
                    <div class="images_sec">
                        <img src="assets/images/Layer2.png">
                        <div class="rmit">
                            <h1>RMIT</h1>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-4">
                    <div class="images_sec">
                        <img src="assets/images/Folder 4.png">
                        <div class="rmit">
                            <h1>RMIT</h1>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-4">
                    <div class="images_sec">
                        <img src="assets/images/Layer3.png">
                        <div class="rmit">
                            <h1>RMIT</h1>
                        </div>
                    </div>
                </div>


                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-4">
                    <div class="images_sec">
                        <img src="assets/images/Layer1.png">
                        <div class="rmit">
                            <h1>RMIT</h1>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-4">
                    <div class="images_sec">
                        <img src="assets/images/Layer2.png">
                        <div class="rmit">
                            <h1>RMIT</h1>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-4">
                    <div class="images_sec">
                        <img src="assets/images/Folder 4.png">
                        <div class="rmit">
                            <h1>RMIT</h1>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-4">
                    <div class="images_sec">
                        <img src="assets/images/Layer3.png">
                        <div class="rmit">
                            <h1>RMIT</h1>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-4">
                    <div class="images_sec">
                        <img src="assets/images/Layer1.png">
                        <div class="rmit">
                            <h1>RMIT</h1>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-4">
                    <div class="images_sec">
                        <img src="assets/images/Layer2.png">
                        <div class="rmit">
                            <h1>RMIT</h1>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-4">
                    <div class="images_sec">
                        <img src="assets/images/Folder 4.png">
                        <div class="rmit">
                            <h1>RMIT</h1>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-4">
                    <div class="images_sec">
                        <img src="assets/images/Layer3.png">
                        <div class="rmit">
                            <h1>RMIT</h1>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-4">
                    <div class="images_sec">
                        <img src="assets/images/Layer1.png">
                        <div class="rmit">
                            <h1>RMIT</h1>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-4">
                    <div class="images_sec">
                        <img src="assets/images/Layer2.png">
                        <div class="rmit">
                            <h1>RMIT</h1>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-4">
                    <div class="images_sec">
                        <img src="assets/images/Folder 4.png">
                        <div class="rmit">
                            <h1>RMIT</h1>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-4">
                    <div class="images_sec">
                        <img src="assets/images/Layer3.png">
                        <div class="rmit">
                            <h1>RMIT</h1>
                        </div>
                    </div>
                </div>



            </div>


            <!-- <div class="about-australia">
                   <h5>About Canada</h5>
                   <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit a met lacus accumsan et viverra justo commodo.
                      Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate,
                      felis tellus mollis orci, sed rhoncus sapien nunc eget.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod vulputate, felis tellus mollis orci,
                      sed rhoncus sapien nunc eget. Lorem ipsum d olor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit a\met lacus
                      accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penati bus et mag nis dis parturient montes, nascetur ridiculus mus.
                      Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget
                   </p>
                </div> -->

            <!-- <h4><strong>Study In Canada</strong></h4>

            <div class="text2">
                Canada is another popular destination of study for International students. Canada has been welcoming
                international students in every city. With its range of landscapes, glacial peaks, icefields, green
                vegetation and massive mountains, there is a long list of Canadian scenic wonders for visitors. Whilst
                in Canada, most visited tourist attractions are the Niagara Falls, the 135 km long Okanagan Lake with
                its Ogopogo lake monster, the Glacier National Park, the Banff National Park and the Canadian Rockies. <br>
                <h5><strong>Education system in Canada</strong> </h5>
                The higher education system in Canada is not very different from the American education system, with a
                little influence form Britain. There are mainly three types of institutions.
                <li><strong> Public Universities:</strong> Public universities in Canada are run by the provincial,
                    territorial or federal government funding besides receiving the tuition fees from students. </li>
                <li><strong> Private Universities:</strong> Private universities in Canada are mostly funded by
                    donations and research grants. These universities do not receive funding from the government bodies.
                </li>
                <li><strong> Liberal Arts Colleges:</strong> Liberal arts colleges in Canada are similar to those in the
                    USA. These are either public or private colleges with a primary emphasis on undergraduate courses in
                    liberal arts. </li>
                <h5> <strong> Canada as a destination of study</strong></h5>
                The United Nations consistently ranks Canada as one of the best places in the world to live, given its
                low crime rate. Montreal and Toronto are two large cities that has a lot to offer for International
                students. Toronto, an ethnically diverse city is also a major centre of higher learning and research
                with many well-known institutions such as University of Toronto. The City of Saints, Montreal is one
                that defies all expectation with its mix of North American & European swagger and cutting-edge culture.
                There are also walk-safe programmes, where volunteers assist people in getting to public transportation
                or homes during late hours at night.
                <h5> <strong>Study Options in Canada</strong></h5>
                Canadian institutions offer three major intakes, Fall, Winter and Summer. The Fall intake is the primary
                intake in most colleges which starts from September whilst a few colleges offer a Winter intake which
                starts from January. International students are advised to apply as early as possible as scholarships
                and admissions get more competitive closer to the deadline. An application deadline would be 6 to 9
                months before the session starts and it can vary depending on each department and the subject of choice
                though deadlines are not flexible, except for diploma programmes, some institutions might accept
                students if places are still available.
                Students can choose from a range of study programmes

                <li>Certificate or diploma (one or two years)</li>
                <li>Advanced diploma (two or three years)</li>
                <li>Undergraduate degree (three or four years)</li>
                <li>Postgraduate degree (two years)</li>
                <li>PhD (four or five years with dissertation)</li>

                Popular courses at the undergraduate levels are engineering and administrative studies and at the
                postgraduate level are Management, Finance, MBA and LLB degrees.
                <h5> <strong>Cost of studying in Canada</strong> </h5>
                The cost of studying in Canada is relatively cheaper compared to the other popular destinations. The
                tuition fees vary according to the institutions. The average tuition fee is around CAD 10,000 0 40,000
                per year. Living expenses will depend on the location and the type of accommodation, i.e. private,
                homestay or campus accommodation. On average, students pay CAD 6,000 – 8000 per year for their
                accommodation. Health insurance and transport costs will be an additional cost.
                International students can work part-time for 20 hours per week. They are permitted to work on campus
                for the first 6 months and then off campus post this period. Some universities with more intensive
                courses only allow their students to work for 12 hours per week.
                <h5> <strong> Scholarships for international students </strong> </h5>
                Government and non-government scholarships are available for international students in Canada. These
                include:
                <h5> <strong> Government scholarships </strong> </h5>
                <li> Canada graduate scholarships </li>
                <li> NSERC postgraduate scholarships </li>
                <h5> <strong> Non – Government scholarships </strong> </h5>
                <li> Canadian Rhodes Scholars Foundation scholarship </li>
                <li> Trudeau scholarships and fellowships </li>
                In addition to this, there are institution specific scholarships for international students.
                <h5> <strong> Benefits of studying in Canada </strong> </h5>
                <li> There are several options to choose from big or small universities and small – town or city
                    universities. </li>
                <li> Students can enjoy an active and varied lifestyle in the beautiful country, along with great health
                    care benefits. </li>
                <li> Students will have incredible opportunities to meet like-minded people and gain valuable
                    international student experience through student clubs and organisations. </li>

            </div> -->


        </div>
    </div>

</section>