<section class="wrapper">

   <div class="banner-section">
      <div class="banner-content">
         <h1 class="center-text">Best Education<br>You can Learn Anything</h1>
         <!-- <h5 class="bottom-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incidi
            dunt ut labore et dolore magna aliqua.</h5> -->
         <button class="banner-button">GET STARTED</button>
      </div>
   </div>

   <div class="intresed-Studies text-center division-property">
      <div class="container1440">
         <h2 class="commonheading">WHERE CAN YOU STUDY </h2>
         <p class="common-pera">Top study destinations preferred by International students</p>
         <div class="row">
            <div class="col-md-4" [routerLink]="['/usa-search-course']">
               <div class="image-test">
                  <a><img src="assets/images/usa_tile.jpg"></a>
                  <h3>USA</h3>
               </div>
            </div>
            <div class="col-md-4" [routerLink]="['/uk-search-course']">
               <div class="image-test">
                  <a> <img src="assets/images/uk_tile.jpg"></a>
                  <h3>UK</h3>
               </div>
            </div>
            <div class="col-md-4" [routerLink]="['/australia-search-course']">
               <div class="image-test">
                  <a><img src="assets/images/aus_tile.jpg"></a>
                  <h3>AUSTRALIA</h3>
               </div>
            </div>
            <div class="col-md-4" [routerLink]="['/canada-search-course']">
               <div class="image-test">
                  <a><img src="assets/images/can_tile.jpg"></a>
                  <h3>CANADA</h3>
               </div>
            </div>
            <div class="col-md-4" [routerLink]="['/newzealand-search-course']">
               <div class="image-test">
                  <a><img src="assets/images/newzy.png"></a>
                  <h3>NEW ZEALAND</h3>
               </div>
            </div>
            <div class="col-md-4" [routerLink]="['/ireland-search-course']">
               <div class="image-test">
                  <a><img src="assets/images/ire_tile.jpg"></a>
                  <h3>IRELAND</h3>
               </div>
            </div>
         </div>
         <div class="read-more mt-4">
            <button class="theme-btn" onclick="window.location.href='8-Universities List .html';">Read more...</button>
         </div>
      </div>
   </div>

   <div class="intresed-Studies text-center division-property">
      <div class="container1440">
         <h2 class="commonheading">SERVICES OFFERING</h2>
         <div class="row">
            <div class="col-md-4">
               <div class="image-test1">
                  <img src="assets/images/left.png">
               </div>
            </div>
            <div class="col-md-8">
               <div class="image-test11">
                  <p>
                     Univ Global collaborates with overseas representatives and with Higher Education Institutions
                     across number of countries to help them achieve their recruitment strategies. Our innovative
                     technology portal simplifies the course search, course comparison and student application process.
                     We help students discover and compare career opportunities across different countries and our
                     online portal simplifies the process of comparison and applying, thereby helping them pursue their
                     dream of studying abroad with ease.
                  </p>
                  <p>
                     Univ Global has collaborated with qualified and vetted representatives across the world with an aim
                     to help their students to compare, choose and apply to a greater number of institutions of their
                     choices in several countries.
                  </p>
               </div>
            </div>
         </div>
         <div class="read-more mt-4">
            <button class="theme-btn" [routerLink]="['/services-offering']">Read more...</button>
         </div>
      </div>
   </div>

   <div class="intresed-Studies text-center division-property">
      <div class="container1440">
         <h2 class="commonheading">HOW IT WORKS</h2>
         <div class="row">
            <div class="col-md-8">
               <div class="image-test11">
                  <p>
                     Univ Global’s innovative technology may seem like magic, but there is a lot going on behind the
                     scenes to ensure that every user gets the best possible result when uploading their application
                     supporting documents to our automated portal. We aim to make it as easy as possible for our users
                     throughout the journey of course search and matching; applying to the programmes and universities
                     that closely align with their interests. We help representatives and students accomplish this in
                     just a matter of clicks with our automated technology.

                  </p>
                  <p>
                     When an application along with supporting documents are uploaded to our portal, our engines get to
                     work analysing your documents before matching the documents against the entry criteria of partner
                     universities in different countries.
                  </p>
               </div>
            </div>
            <div class="col-md-4">
               <div class="image-test1">
                  <img src="assets/images/rytimg.png">
               </div>
            </div>
         </div>
         <div class="read-more mt-4">
            <button class="theme-btn" [routerLink]="['/how-it-works']">Read more...</button>
         </div>
      </div>
   </div>

   <div class="qualites division-property">
      <div class="container1440">
         <div class="d-flex align-items-center het100">
            <div class="row">
               <div class="col-md-3 text-center">
                  <div class="hover-effect active">
                     <figure class="topic-cover">
                        <img src="assets/images/Layer 29.png">
                     </figure>
                     <label class="values">1973</label>
                     <label class="count-text">Universities</label>
                  </div>
               </div>
               <div class="col-md-3 text-center">
                  <div class="hover-effect">
                     <figure class="topic-cover">
                        <img src="assets/images/Layer 30.png">
                     </figure>
                     <label class="values">2223304</label>
                     <label class="count-text">Courses</label>
                  </div>
               </div>
               <div class="col-md-3 text-center">
                  <div class="hover-effect">
                     <figure class="topic-cover">
                        <img src="assets/images/Layer 32.png">
                     </figure>
                     <label class="values">06</label>
                     <label class="count-text">Countries</label>
                  </div>
               </div>
               <div class="col-md-3 text-center">
                  <div class="hover-effect">
                     <figure class="topic-cover">
                        <img src="assets/images/Layer 34.png">
                     </figure>
                     <label class="values">4523210</label>
                     <label class="count-text">Representatives </label>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>

   <div class="ivision-six division-property">
      <div class="container1440">
         <div class="row">
            <div class="col-md-6">
               <h2 class="commonheading text-center mb-5">UNIVERSITIES NEWS</h2>
               <div class="main-scroller">
                  <div class="repeating-line">
                     <h2 class="headingline">Heading Name</h2>

                     <label>date :- 12/09/2019, 12:30 pm</label>
                     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur.
                     </p>
                  </div>
                  <div class="repeating-line">
                     <h2 class="headingline">Heading Name</h2>
                     <label>date :- 12/09/2019, 12:30 pm</label>
                     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur.
                     </p>
                  </div>
                  <div class="repeating-line">
                     <h2 class="headingline">Heading Name</h2>
                     <label>date :- 12/09/2019, 12:30 pm</label>
                     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur.
                     </p>
                  </div>
                  <div class="repeating-line">
                     <h2 class="headingline">Heading Name</h2>
                     <label>date :- 12/09/2019, 12:30 pm</label>
                     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur.
                     </p>
                  </div>
                  <div class="repeating-line">
                     <h2 class="headingline">Heading Name</h2>
                     <label>date :- 12/09/2019, 12:30 pm</label>
                     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur.
                     </p>
                  </div>
                  <div class="repeating-line">
                     <h2 class="headingline">Heading Name</h2>
                     <label>date :- 12/09/2019, 12:30 pm</label>
                     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur.
                     </p>
                  </div>
                  <div class="repeating-line">
                     <h2 class="headingline">Heading Name</h2>
                     <label>date :- 12/09/2019, 12:30 pm</label>
                     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur.
                     </p>
                  </div>
               </div>
            </div>
            <div class="col-md-6">
               <h2 class="commonheading text-center mb-5">COUNTRIES NEWS</h2>
               <div class="main-scroller">
                  <div class="repeating-line">
                     <h2 class="headingline">Heading Name</h2>

                     <label>date :- 12/09/2019, 12:30 pm</label>
                     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur.
                     </p>
                  </div>
                  <div class="repeating-line">
                     <h2 class="headingline">Heading Name</h2>
                     <label>date :- 12/09/2019, 12:30 pm</label>
                     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur.
                     </p>
                  </div>
                  <div class="repeating-line">
                     <h2 class="headingline">Heading Name</h2>
                     <label>date :- 12/09/2019, 12:30 pm</label>
                     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur.
                     </p>
                  </div>
                  <div class="repeating-line">
                     <h2 class="headingline">Heading Name</h2>
                     <label>date :- 12/09/2019, 12:30 pm</label>
                     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur.
                     </p>
                  </div>
                  <div class="repeating-line">
                     <h2 class="headingline">Heading Name</h2>
                     <label>date :- 12/09/2019, 12:30 pm</label>
                     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur.
                     </p>
                  </div>
                  <div class="repeating-line">
                     <h2 class="headingline">Heading Name</h2>
                     <label>date :- 12/09/2019, 12:30 pm</label>
                     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur.
                     </p>
                  </div>
                  <div class="repeating-line">
                     <h2 class="headingline">Heading Name</h2>
                     <label>date :- 12/09/2019, 12:30 pm</label>
                     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur.
                     </p>
                  </div>
               </div>
            </div>
         </div>
         <div class="read-more mt-4">
            <button class="theme-btn">Read more...</button>
         </div>
      </div>
   </div>
</section>