<section>
    <h4 class="study">PRIVACY POLICY</h4>

    <div class="container1440">
        <div class="text2">
           
                <p>Univ Global, private limited company incorporated and registered in England and Wales with company
                  number 12421438 whose registered office address is Unit 11-12, Hallmark Trading Estate, Fourth Way,
                  Wembley, Middlesex, HA9 0LB.</p>
                <p>
                  The Privacy policy sets out the information we collect, how it is used and shared and your choices with
                regards to this information, Univ Global may change this policy from time to time by updating this page.
                We recommend that you should check this page from time to time to ensure that you are happy with the
                changes and know about our privacy policy (including what information we collect, when we collect and
                how is it used). The policy describes how Univ Global and its affiliates collect and use personal
                information to provide our services. The policy applies to users of Univ Global’s services anywhere in
                the world including users of Univ Global apps, websites, features or other services including people
                responding to surveys, competitions and writing reviews. Keeping your information safe and private is
                very important to us. All our services are designed with privacy and security in mind.
                </p>

                <p>
                  Univ Global is the principle company and the Data Controller. Univ Global’s services is to help you and
                other users to find a suitable course and applying to universities. We process your personal data to
                help you make informative decisions when selecting courses and applying to Universities by
                </p>
                <ul class="dots">
                  <li> Providing extensive educational information</li>
                  <li> Providing advertising and promotional opportunities for education providers
                  </li>
                  <!-- <li> Providing features to enable users to directly contact education providers
                  </li> -->
                  <li> Recommending things which we think which may be of interest to you, such as courses and universities.
                  </li>
                  <li> Notifying you about your interests which you have told us such as new course in your locality
                  </li>
                  <li> Personalising sections of our websites to your preferences
                  </li>
                  <li> Dealing with any requests you make or content you submit
                  </li>
                  <li> Getting in touch if we need to inform you of something, like a change to our policies or issues with our service.
                  </li>
                  <li> Monitoring usage and performance in order to improve the services we offer.
                  </li>
                </ul>

               <h4 class="registration-h4">Collecting and using your personal data </h4> 
               <p> You can browse our websites without providing any personal information. In order to use some of our
                enhanced functionality, we will sometimes ask for additional information in order to process your
                request. Examples include:</p>

                <ul class="dots">
                  <li>  Providing your name, e-mail and contact details to request a prospectus or make an enquiry to an
                    education provider</li>
                  <li> Providing your name, e-mail address and preferences to create an account to receive newsletters
                  </li>
                  <li> Providing your name, contact details and education history to engage with offline education counselling services
                  </li>
                </ul>

                <p>  Providing your name, e-mail and contact details to request a prospectus or make an enquiry to an
                  education provider</p>

                  <ul class="dots">
                    <li> If we need to contact you by email, we will request your email address
                    </li>
                      <li>  If we tailor your experience by displaying available courses which meet your criteria, we will ask for your preferred start date
                      </li>
                  </ul>

                  <p>  Details of why we collect each piece of information is displayed clearly next to the field used to enter the data. A full list of the data collected by each website is available on the site-specific data collection notice. We also collect some technical information while you use our websites. For ex. information on the type of browser you use and your IP address. This information is used to maintain and monitor the performance of our websites.
                  </p>
                <strong> Geographical data and geotargeting
                </strong>
                  <p>
                    As with all websites, your IP address is sent to us each time a webpage is viewed. For some functionality, we use this along with geo-location information provided by your browser to provide location-specific content within our websites and apps. Your IP address and location information are stored anonymously and not associated with any other personal details. You can stop sharing this information by changing your browser settings.

                  </p>
                  <strong> Storing your data
                  </strong>
                  <p>The personal data you provide is stored in a secure hosting environment in the UK. We employ a range of technology and procedures to ensure that this data is secure, including encryption, antivirus and ant-malware software, intrusion detection, company-wide data usage policies and mandatory security and privacy staff training,
                  </p>
                  <p>
                    Your data is not stored outside EU. To ensure your data is secure and we comply with our privacy obligation, we have data sharing arrangement and security operation and technical measures in place.

                  </p>
                  <strong>How long will you keep my information for?
                  </strong>
                  <p>
                    We will keep your data for as long as we are required to, either:

                  </p>
                  <ul class="dots">
                    <li> By law, for ex. to meet financial regulations relating to payments
                    </li>
                    <li> For as long as we require the data to provide a service to you
                    </li>
                  </ul>
                  <p>
                    Personal data is deleted in accordance with our internal retention policy. All identifiable personal data is deleted three years following your last interaction with this website, for users registering form within the UK and after two years for international markets.

                  </p>
               <h4 class="registration-h4">  Information for EU users</h4>

               <p>As of 25 May 2018, the processing of personal data of users in the European Union is subject to the EU
                General Data Protection Regulation (“GDPR”). This section summarises Univ Global’s ground for processing
                personal information under the GDPR and the rights of EU users as relates to Univ Global’s
                responsibilities and handling of personal information under this regulation. </p> 
<ul class="alfa"> 
  <li>
    (a)  <strong>EU user rights:</strong> If you are a Univ Global user in the EU, you have the following rights with respect
                to Univ Global’s handling of your personal information. Please see further information below to exercise
                these rights. Users outside the EU may also request explanation, correction, deletion or copies of their
                personal data.
                <ul class="dots">
                  <li><strong>Explanation and copies of your data:</strong> You have the right to request an explanation of the information
                    that Univ Global has about you and how Univ Global uses that information. You also have the right to
                    receive a copy of the information that Univ Global collects about you if it is collected based on
                    consent or because Univ Global requires the information to provide the services that you request.</li>
                  <li>
                   <strong> Correction:</strong> If Univ Global has the information about you that you believe is inaccurate, you have the
                    right to request correction of your information. Please see the section titled ‘Explanation, copies and
                    correction’ below for more information on correcting or requesting correction of your information.
    
                  </li>
                  <li>
                   <strong> Deletion:</strong> Users can request deletion of their accounts at any time. We may retain certain information
                about you as required by law and for legitimate business purposes permitted by law. Please see the ‘Univ
                Global personal data’ section above for more information regarding Univ Global’s retention and deletion
                practices.
                  </li>
                  <li>
                   <strong> Objections and complaints:</strong> Users in the EU have the right to object to Univ Global’s processing of
                    personal data, including for marketing purposes based on profiling and/or automated decision making.
                    Univ Global may continue to process your information notwithstanding the objection to the extent
                    permitted under GDPR. Users in the EU also have the right to file a complaint relating to Univ Global’s
                    handling of personal information with the Information Commissioner Office (ICO). Their contact
                    information is as follows:
    <ol class="points">
      <li>Information Commissioner Office</li>
                  <li>Wycliffe House</li>
                  <li>Water Ln</li>
                  <li>Wilmslow</li>
                  <li>SK9 5AF</li>
    </ol>
                   
                  </li>
                  
                </ul>
                <p> You can also submit questions, comments or complaints to Univ Global’s Data Protection Officer.</p>
  </li>
  <li>
    (b) <strong>Grounds for processing:</strong>  The GDPR requires that companies processing the personal data of EU users do
    so based on specific legal grounds. As described below, Univ Global processes the information of EU
    users based on one or more of the grounds specified under the GDPR.

    <ul class="dots">
           <li><strong>The processing is necessary to provide the services and features you request  
          </strong>
        <ol class="points">
          <li> (i)Univ Global must collect and use certain information in order to provide its services. This includes: User profile information that is necessary to establish and maintain your account, including to verify your identity, enable communications with you.</li>
          <li> (ii) Transaction information which is necessary to generate and maintain in connection with your use of Univ Global’s services.
          </li>
          <li> (iii)Usage information, which is necessary to maintain, optimise and enhance Univ Global’s services, including to determine, sometimes in combination with other information, incentives.
          </li>
          <li> (iv) Collection and use of this information are a requirement of using Univ Global’s apps.
          </li>
        </ol>
        </li>
          
        <li><strong>Consent</strong>
          <ol class="points">
            <li>
              (i)Univ Global may collect and use your information based on your consent. You can revoke your consent at any time. If you revoke your consent, you will not be able to use any services or features that require collection or use of the information we collected or used based on consent.
            </li>
            <li>(ii) Univ Global relies on consent in connection with data collection or uses the necessary to enhance the user experience to enable optional services or features or to communicate with you. If you are an EU user, the following types of data collection or use or carried out based on your consent.
              <ol class="points">
                <li>First name</li>
                <li> Last name</li>
                <li> Email</li>
                <li>  Nationality</li>
                <li> Intake year and Month</li>
                <li> Subject</li>
                <li>Study level</li>
                <li> Preferred study destination</li>
                <li> Date of Birth</li>
                <li> Phone number</li>
                <li> Country of residence</li>
              </ol>
            </li>
            </ol>
            <p>
              The following items of personal data are collected as part of user profile, search filters, virtual chat journey and for university enquiries.
              
            </p>
            <ol class="points">
              <li>Gender</li>
              <li> Mailing address</li>
              <li>Current qualification</li>
              <li> Current qualification status</li>
              <li>Grade type of current qualification</li>
              <li>Source of current qualification</li>
              <li> Year of completion of current qualification</li>
              <li> Eligibility test scores</li>
              <li>Education history</li>
              </ol>
              <p>
                The following items of personal data are collected if you use Facebook to register or login on Univ Global’s website
              </p>
              <ol class="points">
               <li>First name</li>
               <li> Last name</li>
               <li> Gender</li>
               <li> Email address</li>
                </ol>
                <p>
                  * Univ Global may also collect personal information about you through voluntary surveys.

                </p>
        </li>
    </ul>
  </li>
</ul>
          

               <h4 class="registration-h4">Email Newsletters </h4> 
                Univ Global’s primary objective is to hep you with your educational journey. If you subscribe to
                University Newsletters via our website, we will send you news and updates of courses, events,
                scholarships, open days from universities and partners that match your interests. You will receive these
                newsletters based on your course, institution or location search history. You can withdraw your consent
                at any point by logging on to your account or by notifying us.
               <h4 class="registration-h4"> Market Research, Surveys and Competitions</h4> 
                Univ Global often run surveys and market research campaigns which you can choose to take part in. These
                are primarily to offer you beneficial services or to advise our partners on your educational
                preferences. The data collection, use and storage vary depending on the focus of the research. We will
                take all the necessary steps to protect your personal data throughout the research period and either
                randomise it or delete it when it is no longer required.
                <ul class="dots">
                  <li> <strong> Sharing your data with partners</strong></li>
                </ul>
                We work with a range of learning providers that either advertise courses on our platforms or offer
                services relevant to your educational research journey. Your personal data will only be shared with the
                learning providers you have chosen to engage with via our websites. For example, if you have made an
                enquiry or applied to an institution, your details relating to the enquiry / application will be
                provided to the institution so that they can process your enquiry / application directly.
                We also provide anonymised site usage data to providers to enable them to monitor enrolments from users
                who use our website. If you take part in a market research campaign or survey, we will never share your
                personal data with our partners. We only share aggregated data that cannot identify you individually.
                Our data handling procedures ensure your personal data is protected through the service you receive from
                us. Furthermore, we have data sharing agreements in place with our partners to make sure they apply
                security operational and technical measures when processing your personal information.
              <h4 class="registration-h4"> Links to other websites </h4> 
                Univ Global’s website provides several links to course provider websites. This privacy notice does not
                cover these links. We encourage you to read the privacy statements on the other websites you visit.
              <h4 class="registration-h4">  Cookie Statement</h4> 
                The website uses cookies. By using the website and agreeing to this policy, you consent to our use of
                cookies in accordance with the terms of this policy.
                <ul class="dots">
                  <li><strong> About Cookies: </strong> 
                    Cookies are files, often including unique identifies, that are sent by web servers to web
                    browsers and which may then be sent back to the server each time the browser requests a page from the
                    server. Cookies can be used by web servers to identify and track users as they navigate different pages
                    on a website and to identify users returning to a website. Cookies may be either “persistent” cookies or
                    “session” cookies. A persistent cookie consists of a text file sent by a web server to a web browser,
                    which will be stored by the browser and will remain until its set expiry date (unless deleted by the
                    user before the expiry date). A session cookie on the other hand, will expire at the end of the user
                    section, when the web browser is closed.</li>
                    <li><strong> Cookies on the website: </strong>
                      we use both session cookies and persistent cookies on the website.
                      <ol class="points">
                            <li><strong>(a) How we use cookies: </strong>   Cookies do not contain any information that personally identifies you, but personal information that we store about you may be linked by us, to the information stored in and obtained from cookies. The cookies used on the website include those which are strictly necessary cookies for access and navigation, cookies that track usage (performance cookies), remember your choices (functionality cookies) and cookies that provide you with targeted content or advertising. We may use the information we obtain from your use of our cookies for the following purposes:
                              <ol class="points">
                                <li>(i) To recognise your computer when you visit the website
                                </li>
                                <li>(ii)To track you as you navigate the website and to enable the use of any e-commerce facilities
                                </li>
                                <li>(iii)To improve the website’s usability
                                </li>
                                <li>(iv)To analyse the use of the website
                                </li>
                                <li>(v)In the administration of the website
                                </li>
                                <li>(vi)To personalise the website for you, including targeting advertisements which may be of particular interest to you.
                                </li>

                                </ol>
                            </li>                        
                        </ol>
                       
                      </li>
                      <li><strong> Third Party Cookies: </strong>
                        When you use the website, you may also be sent third party cookies. Our advertisers and service providers may send you cookies. They may use the information they obtain from your use of their cookies.
                        <ol class="points">
                          <li>(i) To track your browser across multiple websites </li>
                          <li>(ii)  To build a profile of your web surfing</li>
                          <li>(iii) To target advertisements which may be of particular interest to you</li>
                          </ol>
                        </li>

                        <li><strong> Blocking Cookies: </strong>
                          Most browsers allow you to refuse to accept cookies. For ex.
                          <ol class="points">
                            <li>(i) In Internet Explorer you can refuse all cookies by clicking “Tools – Internet Options – Privacy” and selecting “Block all cookies” using the sliding selector. You can also delete cookies already stored on your computer by manually deleting cookie files.
                            </li>
                            <li>(ii) In Firefox, you can block all cookies by clicking “Tools – Options” and unchecking “Accept cookies from sites” in the “Privacy” box. In order to delete stored cookies from the computer, you need to ensure that cookies are to be deleted when you “clear private data” (this setting can be changed by clicking “Tools – Options and Settings” in the “Private Data” box) and then clicking “Clear private data” in the “Tools” menu
                            </li>
                            <li>(iii) In Google Chrome you can adjust your cookie permissions by clicking “Options – Under the hood” Content Setting in the “Privacy” section. Click on the Cookies tab in the Content Settings. In order to delete stored cookies from the computer, you can adjust your cookie permissions by clicking “Options – Under the hood”, Content Settings in the “Privacy” section. Click on the Cookies tab in the Content Settings.
                            </li>
                            <li> (iv) In Safari you can block cookies by clicking “Preferences”, selecting the “Privacy” tab and “Block Cookies”. In order to delete stored cookies from the computer, you can click “Preferences”, selecting the “Privacy” tab and “Remove all Website Data”
                            </li>
                            </ol>
                          </li>
                       
                </ul>
                
                  <p>
                    Blocking all cookies will; however, have a negative impact upon the usability of many websites. If you
                    block cookies, you may not be able to use certain features on the website (log on, access content, use
                    search functions)
                  </p>
        </div>
    </div>
</section>