<section>
    <h4 class="study">FAQS</h4>

     <div class="container1440 mt-5 cs3">
       

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
<div class="panel panel-default">
<div class="panel-heading active" role="tab" id="headingOne">
<h4 class="panel-title cs3">
<a class="accordingstyle" data-toggle="collapse" role="button" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
Lorem ipsum dolor sit amet, consectetur adipiscing elit?



</a>
</h4>
</div>
<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
<div class="panel-body">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin
sodales pulvinartempor. Cum sociis nato que penatibus et magnis dis parturient montes,nascetur ridiculus mus.Nam fermentum, nulla luctus pharetra vulputate,
felis tellus mollisorci, sed rhoncus sapien nunc eget.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.Proingravida dolor
sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinartempor.Cum sociis nato que penatibus et magnis dis parturient montes, nascetur ridiculus
musNam fermentum,nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapiennunc eget. 

</div>
</div>
</div>

<div class="panel panel-default">
<div class="panel-heading" role="tab" id="headingTwo">
<h4 class="panel-title cs3">
<a class="accordingstyle collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
Lorem ipsum dolor sit amet, consectetur adipiscing elit?
</a>
</h4>
</div>
<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
<div class="panel-body">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin
sodales pulvinartempor. Cum sociis nato que penatibus et magnis dis parturient montes,nascetur ridiculus mus.Nam fermentum, nulla luctus pharetra vulputate,
felis tellus mollisorci, sed rhoncus sapien nunc eget.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.Proingravida dolor
sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinartempor.Cum sociis nato que penatibus et magnis dis parturient montes, nascetur ridiculus
musNam fermentum,nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapiennunc eget. 
</div>
</div>
</div>

<div class="panel panel-default">
<div class="panel-heading" role="tab" id="headingThree">
<h4 class="panel-title cs3">
<a class="accordingstyle collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
Lorem ipsum dolor sit amet, consectetur adipiscing elit?
</a>
</h4>
</div>
<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
<div class="panel-body">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin
sodales pulvinartempor. Cum sociis nato que penatibus et magnis dis parturient montes,nascetur ridiculus mus.Nam fermentum, nulla luctus pharetra vulputate,
felis tellus mollisorci, sed rhoncus sapien nunc eget.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.Proingravida dolor
sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinartempor.Cum sociis nato que penatibus et magnis dis parturient montes, nascetur ridiculus
musNam fermentum,nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapiennunc eget. 
</div>
</div>
</div>
</div>

<div class="panel panel-default">
<div class="panel-heading" role="tab" id="headingThree">
<h4 class="panel-title cs3">
<a class="accordingstyle collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="false" aria-controls="collapseThree">
Lorem ipsum dolor sit amet, consectetur adipiscing elit?
</a>
</h4>
</div>
<div id="collapse1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
<div class="panel-body">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin
sodales pulvinartempor. Cum sociis nato que penatibus et magnis dis parturient montes,nascetur ridiculus mus.Nam fermentum, nulla luctus pharetra vulputate,
felis tellus mollisorci, sed rhoncus sapien nunc eget.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.Proingravida dolor
sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinartempor.Cum sociis nato que penatibus et magnis dis parturient montes, nascetur ridiculus
musNam fermentum,nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapiennunc eget. 
</div>
</div>
</div>

<div class="panel panel-default">
<div class="panel-heading" role="tab" id="headingThree">
<h4 class="panel-title cs3">
<a class="accordingstyle collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="false" aria-controls="collapseThree">
Lorem ipsum dolor sit amet, consectetur adipiscing elit?
</a>
</h4>
</div>
<div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
<div class="panel-body">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin
sodales pulvinartempor. Cum sociis nato que penatibus et magnis dis parturient montes,nascetur ridiculus mus.Nam fermentum, nulla luctus pharetra vulputate,
felis tellus mollisorci, sed rhoncus sapien nunc eget.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.Proingravida dolor
sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinartempor.Cum sociis nato que penatibus et magnis dis parturient montes, nascetur ridiculus
musNam fermentum,nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapiennunc eget. 
</div>
</div>
</div>

<div class="panel panel-default">
<div class="panel-heading" role="tab" id="headingThree">
<h4 class="panel-title cs3">
<a class="accordingstyle collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="false" aria-controls="collapseThree">
Lorem ipsum dolor sit amet, consectetur adipiscing elit?
</a>
</h4>
</div>
<div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
<div class="panel-body">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin
sodales pulvinartempor. Cum sociis nato que penatibus et magnis dis parturient montes,nascetur ridiculus mus.Nam fermentum, nulla luctus pharetra vulputate,
felis tellus mollisorci, sed rhoncus sapien nunc eget.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.Proingravida dolor
sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinartempor.Cum sociis nato que penatibus et magnis dis parturient montes, nascetur ridiculus
musNam fermentum,nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapiennunc eget. 
</div>
</div>
</div>

<div class="panel panel-default">
<div class="panel-heading" role="tab" id="headingThree">
<h4 class="panel-title cs3">
<a class="accordingstyle collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapseThree">
Lorem ipsum dolor sit amet, consectetur adipiscing elit?
</a>
</h4>
</div>
<div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
<div class="panel-body">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin
sodales pulvinartempor. Cum sociis nato que penatibus et magnis dis parturient montes,nascetur ridiculus mus.Nam fermentum, nulla luctus pharetra vulputate,
felis tellus mollisorci, sed rhoncus sapien nunc eget.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.Proingravida dolor
sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinartempor.Cum sociis nato que penatibus et magnis dis parturient montes, nascetur ridiculus
musNam fermentum,nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapiennunc eget. 
</div>
</div>
</div>

<div class="panel panel-default">
<div class="panel-heading" role="tab" id="headingThree">
<h4 class="panel-title cs3">
<a class="accordingstyle collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="false" aria-controls="collapseThree">
Lorem ipsum dolor sit amet, consectetur adipiscing elit?
</a>
</h4>
</div>
<div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
<div class="panel-body">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin
sodales pulvinartempor. Cum sociis nato que penatibus et magnis dis parturient montes,nascetur ridiculus mus.Nam fermentum, nulla luctus pharetra vulputate,
felis tellus mollisorci, sed rhoncus sapien nunc eget.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.Proingravida dolor
sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinartempor.Cum sociis nato que penatibus et magnis dis parturient montes, nascetur ridiculus
musNam fermentum,nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapiennunc eget. 
</div>
</div>
</div>

</div>


        
</section>
