<section>
  <div class="container1440 mt-5">
    <h5 class="application_pro">Application Progress</h5>
    <div class="search_university">
      <div class="University-name">
        <select class="form-control">
          <option>Search University Name </option>
        </select>
        <i class="fa fa-sort-down"></i>
      </div>

      <div class="cntact-button">
        <button class="theme-btn router-link" style="margin-right: 10px;">Submit</button>
        <button class="theme-btn router-link">Reset</button>
      </div>
    </div>
    
    <div class="application-status mb-4" *ngFor="let item of univerityListData;let i = index">
      <div class="row">
        <div class="col-md-2">
          <div class="rim">
            <img src="{{item.imageUrl ? item.imageUrl : 'assets/images/rimt.png'}}">
            <!-- <h3 class="rmit-sec">{{item.universityName}}</h3> -->
          </div>

        </div>
        <div class="col-md-10">
          <div class="submitted">
            <div class="form_submit">
              <div class="condidated_name">
                <ul>
                  <li><strong>University Name :</strong> </li>
                  <li><strong>University Reference :</strong></li>
                  <li><strong>Application Form Status :</strong> </li>
                </ul>
              </div>
              <div class="condidated_name">
                <ul>
                  <li>{{item.universityName}}</li>
                  <li>{{item.universityRefrence ? item.universityRefrence : '&nbsp;&nbsp;&nbsp;'}}</li>
                  <li>{{item.applicationStatus}}
                    <p class="tooltip-ex2">
                      <span class="input-icon"><em class="fa fa-question-circle-o"></em></span><span
                        class="tooltiptext2" style="width: 420px;">You have to Conditional Offer you can perform the
                        accept </span>
                    </p>
                  </li>
                </ul>
              </div>
            </div>

            <div class="my_history">
              <div class="viewform">
                <button class="theme-btn router-link">View More</button>
              </div>
              <div class="viewform">
                <button class="theme-btn router-link" [routerLink]="['/view-progress']">View Progress</button>
              </div>
            </div>
          </div>

          <div class="pdf_section">
            <ul>
              <!-- <li>
                <span style="position: relative;">
                  <a href="http://www.pdf995.com/samples/pdf.pdf" target="_blank" class="offer_css">View Offer</a>
                </span>
                <figure><img src="assets/images/pdf_img.png"></figure>
              </li> -->
              <li *ngFor="let opt of item.options">
                <label class="radio-inline">
                  <input type="radio" name="{{'condition' + i}}" value="{{opt.view}}" style="margin-right:10px" 
                  (change)="changeStatus(opt,i)">{{opt.view}}
                </label>
              </li>
              <li>
                <button class="theme-btn router-link" (click)="submit(item)">Submit</button>
              </li>
            </ul>
          </div>

        </div>
      </div>
    </div>

  </div>
</section>


<div class="modal fade bd-example-modal-sm" id="showMessage"  tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content thanks_for">
        <h6>{{responseMessage}}.</h6>
            <div>
            <button  class="btn btn-block btn-flat router-link" data-toggle="modal" data-target="#exampleModalCenter" data-dismiss="modal" [routerLink]="['/dashboard']">Ok</button> </div>
          </div>
    </div>
 </div>
 