<section>
    <div class="container1440 mt-5">
        <h5 class="application_pro">Application Form</h5>
         <div class="application-form mt-5">
             <div class="academic">
           <h5 class="application_pro">Employment for PGT Programmes</h5>

             <div class="form-group">
              <label>Job Title :</label>
               <input type="email" class="form-control" placeholder="Job Title">
             </div>

              <div class="form-group">
              <label>Employers Name :</label>
               <input type="text" class="form-control" placeholder="Employers Name">
             </div>

              <div class="form-group">
              <label for="exampleInputEmail1">Dates :</label>
               <input type="email" class="form-control" placeholder="DD/MM/YY">
               <i class="fa fa-calendar" aria-hidden="true"></i>
             </div>

               <div class="form-group">
              <label for="exampleInputEmail1">Brief Duties :</label>
               <input type="email" class="form-control" placeholder="Brief Duties">
             </div>

         </div>  
       <div class="cntact-button back">
               <button class="banner-button" [routerLink]="['/section10']">Back</button>
               <button class="banner-button active" [routerLink]="['/section12']">Continue</button>
               <button class="banner-button">Save and Quit</button>
              </div>
       </div>          
   </div>
</section>
           