<section>
    <h4 class="study">Terms & Conditionss</h4>

    <div class="container1440">
        <div class="text2">

            Univ Global, private limited company incorporated and registered in England and Wales with company number
            12421438 whose registered office address is Unit 11-12, Hallmark Trading Estate, Fourth Way, Wembley,
            Middlesex, HA9 0LB. Univ Global’s terms of use and our Privacy Policy which are amended by us from time to
            time govern your use of our website. We may revise these terms and conditions at any time at our sole
            discretion. If we do, we will notify you on our home page Please also check for regular updates by
            confirming the version date of the terms and conditions. Your continued use of our website mans that you
            agree to these terms as revised. You can read more about how we use your information on our Privacy Policy
            page.

            <h4>Registration / Password</h4>
            In order to use our portal services, you will need to register as a Member to be able to access all areas of
            the portal. Registration to our portal is by invitation and is free.
            To register as a member, you must confirm that you are over 16 years of age
            You agree that any information you provide to us about yourself upon registration or at any other time will
            be accurate, up to date and complete. We reserve the right to terminate your membership and access to our
            website and portal if we learn that you have provided false or misleading information.
            When you register to use our website, you will be asked to create a username and password. You must not
            divulge your password to any other person. You are responsible for maintaining the confidentiality of your
            password and will be fully responsible for all liabilities arising in connection with you password’s use (or
            misuse), whether such use or misuse is with or without your knowledge or approval. If you suspect that
            someone else knows of or is using your password, you must notify us immediately by emailing us.
            If you forget your password, please click on the reset password link and we will reset your password and
            send it to your email address.
            We have the absolute discretion to cancel your user at any time if we suspect it is being used by an
            unauthorised person.

            <h4>Use of our Website / Portal</h4>
            For the purposes of these terms, “Content” refers to all data, text, logos, artwork, software, documents,
            images, photographs and other materials you may upload to or download from our website including information
            about yourself, messages posted in the reviews and information about certain courses and universities. You
            must ensure that any content that you submit to our website / portal
            <li>I. Does not infringe any third party’s Intellectual Property Rights (“Intellectual Property Rights”
                means registered and / or unregistered copyrights, database rights, trade marks, design rights and other
                intellectual and proprietary rights of whatever nature and all applications for such rights, anywhere in
                the world).</li>
            <li>II. Does not breach any applicable law</li>
            <li>III. Is not defamatory, profane, sexually or racially offensive or discriminating, harassing, threating,
                obscene, pornographic, false, unreliable or misleading or otherwise objectionable in our opinion;</li>
            or
            <li> IV. Does not disrupt the communications of the online portal on our website.</li>
            You agree that you will not use our portal / website:
            <li>I. For commercial purposes or to obtain financial gain without our prior written consent</li>
            <li> II. To send chain letters, junk mail, spam, business or bulk communications of any kind</li>
            <li> III. To advertise a company, product or service of any educational establishment except under the terms
                of a written advertiser agreement that we have entered with you</li>
            <li>IV. In a way, that might reasonably be expected to cause another person’s computer systems and/or their
                communications network to be interrupted, damaged or rendered less efficient.</li>
            <li>V. To obtain personal information from “users” (which means “members” and “visitors”) under the age of
                16 or from anyone if such information is gathered deceptively or in a non-transparent way</li>
            <li> VI. To obtain passwords or personal identifying information for commercial or unlawful purposes from
                other users</li>
            <li> VII. To attempt to impersonate another user, or</li>
            <li>VIII. To harass, threaten or intimidate any user</li>
            You will be responsible for logging out from your registered account at the end of each session on our
            portal / website If you are a visitor, you agree not to obtain unauthorised access to areas of our website
            reserved for members If you are aware of anything on our website which appears to infringe these terms, you
            agree to contact us immediately

            <h4>Intellectual Property Rights</h4>
            <li>I. You agree that our website / portal and all content contained in it are protected by Intellectual
                Property Rights that either belong to or are licensed to us.</li>
            <li>II. You acquire no proprietary interest in our website or content provided by us or others and may not
                use them in any way except as expressly permitted by these terms.</li>
            <li>III. You may view, print, download or temporarily store such content for your personal, non-commercial
                reference without alteration, addition or deletion. You may not otherwise copy, reproduce, retransmit,
                distribute, publish, commercially exploit or otherwise transfer such content. You acknowledge that you
                will not acquire any intellectual property rights by downloading or otherwise using any such content.
            </li>
            By submitting content to our website
            <li>I. You grant us a royalty-free, perpetual, irrevocable, non-exclusive right and licence to use,
                reproduce, modify, adapt, publish, translate, create derivative works from, distribute and communicate
                to the public such content and</li>
            <li>II. You authorise us to adapt such content and you agree to waive your moral rights to object to any
                derogatory treatment, or to be identified as the author, of the material in question.</li>

            <h4>Our Rights</h4>
            We have the right in our absolute discretion to alter, edit, remove, suspend or refuse any content without
            notice, if we consider that the content is objectionable or violates these terms or for any reason. We may
            preserve or disclose the content and your personal details as well as any content to any third party if such
            disclosure is necessary
            <li>I. For the purpose of maintaining our website / portal</li>
            <li>II. By law; or</li>
            <li>III. To respond to claims that our website infringes or restricts the right of any party We may suspend
                or terminate your access to our website at any time if you breach any of these terms</li>

           <h4>Disclaimer</h4> 
            Our website / portal is provided on an “as is” and “as available” basis. We expressly disclaim all
            warranties or representations of any kind, express or implied, to the fullest extent permitted by law You
            understand and agree that we do not guarantee the accuracy, relevancy or completeness of any information in
            or provided on or from our website. We are not responsible for any errors or omissions or for the results
            obtained from the use of such information. Our website is provided for the general information of the
            public. Your use and participation on our website / portal and services are solely at your own risk. No
            advice or information, whether oral or written, obtained by you from our website shall create any warranty
            not expressly made in these terms or imposed by law. We make no representation warranty our guarantee that
            our website will meet your requirements, or that access to our website will be uninterrupted, timely, secure
            or error free, nor do we make any warranty as to the results that may be obtained from the use of our
            website.

           <h4>Limitation of Liability</h4> 
            Univ Global will not be liable to you in any way to the extent permitted by applicable laws, whether such
            liability arises in contract (by the way of indemnity or otherwise), infringement of a right (including
            negligence), misinterpretation, breach of statutory duty, restitution or for any theft or loss of your or
            any other person’s property in connection with the use of our website / portal services Except as required
            by law, we will not be liable for any direct losses or damages arising in contract, including negligence and
            for any reason. Except as required by law, we shall not be liable for any indirect, incidental, special or
            consequential losses or damages or loss of profits, data, goodwill, revenue in each case regardless of
            whether such losses or damages arise in the normal course of events or whether we have been advised of the
            possibility of such damages and whether such losses or damages arise in contact including negligence and for
            any reason. Nothing in these terms shall operate to exclude or restrict our liability for death of personal
            injury caused by negligence.

            <h4>Indemnity</h4>
            You agree to indemnify and hold Univ Global and its officers, directors, employees and agents harmless from
            any and all claims, demands, losses, liabilities, and expenses (including solicitor fees) arising out of or
            in connection with:
            <li>(a) your use of the Website / Portal services or services obtained through your use of the Services;</li>
            <li>(b) your breach or violation of any of these Terms;</li>
                <li>(c) Univ Global’s use of your User Content;</li>
            or
            <li>(d) your violation of the rights of any third party, including third-party providers.</li>

            <h4>Territory Statement</h4>
            Please do not access or use the content form a jurisdiction where such access or use would be contrary to
            applicable laws, rules or regulations of any governmental authority or regulatory organisation. If you
            breach this provision, you will be held entirely responsible.

            <h4>Assignment</h4> 
            We may assign our rights and obligations under these terms and upon such assignment we shall be relieved of
            any further obligation under these terms. You are not permitted to assign your rights and obligations under
            these terms.

            <h4>Governing Law, Arbitration and Jurisdiction</h4>
            These terms set forth in this Agreement shall be exclusively governed by and construed in accordance with
            the laws of England and Wales and any dispute, conflict, claim or controversy arising out of or broadly in
            connection with or relating to the Services or these terms, including those relating to its validity, its
            construction or its enforceability (any “Dispute”) shall be first mandatorily submitted to mediation
            proceedings under the International Chamber of Commerce Mediation Rules (“ICC Mediation Rules”). If such
            Dispute has not been settled within sixty (60) days after a request for mediation has been submitted under
            such ICC Mediation Rules, such Disputes can be referred to and shall be exclusively and finally resolved by
            arbitration under the Rules of Arbitration of the International Chamber of Commerce (“ICC Arbitration
            Rules”). The ICC Rules Emergency Arbitrator provisions are excluded. The Dispute shall be resolved by one
            (a) arbitrator to be appointed in accordance with the ICC Rules.
            The place of both mediation and arbitration shall be England without prejudice to any rights. The language
            of the mediation and/or arbitration shall be English, unless you do not speak English, in which case the
            mediation and/or arbitration shall be conducted in both English and your native language. The existence and
            content of the mediation and arbitration proceedings, including documents and briefs submitted by the
            parties, correspondence from and to the International Chamber of Commerce, correspondence from the mediator,
            and correspondence, orders and awards issued by the sole arbitrator, shall remain strictly confidential and
            shall not be disclosed to any third part without the express written consent from the other party unless:
            <li>(a) the disclosure to the third party is reasonably required in the context of conducting the mediation or
            arbitration proceedings;</li>
            and
            <li>(b) the third party agrees unconditionally in writing to be bound by the confidentiality obligation
            stipulated herein.</li>

            <h4>Other Provisions</h4> 
            Claims of copyright Infringement Claims of copyright infringement should be sent to Univ Global’s designated
            agent. Please visit Univ Global’s website for the designated address and contact information.

            <h4>Notice</h4> 
            Univ Global may give notice by means of a general notice on the Services, electronic mail to your email
            address in your Account, or by written communication sent to your address as set forth in your Account. You
            may give notice to Univ Global by written communication to Univ Global’s address at Unit 11-12, Hallmark
            Trading Estate, Fourth Way, Wembley, Middlesex, HA9 0LB. United Kingdom.

            <h4>General</h4>
            You may not assign or transfer these Terms in whole or in part without Univ Global’s prior written approval.
            You give your approval to Univ Global for it to assign or transfer these terms in whole or in part,
            including to:
        <li>(a) a subsidiary or affiliate;</li>
    <li>(b) an acquirer of Univ Global’s equity, business or assets;</li>
            or
        <li> (c) a successor by merger. No joint venture, partnership, employment or agency relationship exists between
            you, Univ Global’s or any third-party provider as a result of the contract between you and Univ Global or
            use of the Services.</li>
            If any provision of these Terms are held to be illegal, invalid or unenforceable, in whole or in part, under
            any law, such provision or part thereof shall to that extent be deemed not to form part of these Terms but
            the legality, validity and enforceability of the other provisions in these Terms shall not be affected. In
            that event, the parties shall replace the illegal, invalid or unenforceable provision or part thereof with a
            provision or part thereof that is legal, valid and enforceable and that has, to the greatest extent
            possible, a similar effect as the illegal, invalid or unenforceable provision or part thereof, given the
            contents and purpose of these Terms. These Terms constitute the entire agreement and understanding of the
            parties with respect to its subject matter and replaces and supersedes all prior or contemporaneous
            agreements or undertakings regarding such subject matter. In these Terms, the words “including” and
            “include” mean “including, but not limited to”.




        </div>
    </div>
</section>