<section>
    <div class="container1440 mt-5">
        <h5 class="application_pro">Application Form</h5>
         <div class="application-form mt-5">
             <div class="academic">
           <h5 class="application_pro">Course applied</h5>
             <div class="search-course">
               <input type="text" class="form-control" placeholder="Search">
            
             </div>
             <div class="University-name cs3 mb-3">
                <label>Select Country :</label>
                 <select class="form-control">
                <option>India</option>
                <option>Australia</option>
                <option>Brazil</option>
                 </select>
                <i class="fa fa-sort-down"></i>
            </div>

             <div class="form-group">
              <label for="exampleInputEmail1">Start Year :</label>
               <input type="email" class="form-control" placeholder="DD/MM/YY">
                <i class="fa fa-calendar" aria-hidden="true"></i>
             </div>

              <div class="form-group">
              <label for="exampleInputEmail1">Start Month :</label>
               <input type="email" class="form-control" placeholder="DD/MM/YY">
                <i class="fa fa-calendar" aria-hidden="true"></i>
             </div>

              <div class="form-group">
              <label for="exampleInputEmail1">Year / Intake if not applying for next intake :</label>
               <input type="email" class="form-control" placeholder="DD/MM/YY">
                <i class="fa fa-calendar" aria-hidden="true"></i>
             </div>
         </div>  
       <div class="cntact-button back">
               <button class="banner-button router-link" [routerLink]="['/section1']">Back</button>
               <button class="banner-button active router-link" [routerLink]="['/section3']">Continue</button>
               <button class="banner-button router-link">Save and Quit</button>
              </div>
       </div>          
   </div>
</section>