<section>
    <div class="container1440 mt-5">
        <h5 class="application_pro">Application Form</h5>
         <div class="application-form mt-5">
             <div class="academic">
           <h5 class="application_pro">References</h5>

             <div class="form-group">
              <label>Referee  1 Name :</label>
               <input type="email" class="form-control" placeholder="Referee  1 Name">
             </div>

              <div class="form-group">
              <label>Referee 1 Title :</label>
               <input type="text" class="form-control" placeholder="SReferee 1 Title">
             </div>

              <div class="form-group">
              <label>Referee 1 Address :</label>
               <input type="email" class="form-control" placeholder="Referee 1 Address">
             </div>

             <div class="form-group">
              <label>Referee 1 Telephone Number :</label>
               <input type="text" class="form-control" placeholder="Referee 1 Address">
             </div>

               <div class="form-group">
              <label>In what capacity does the referee 1 know you?</label>
              <textarea class="form-control" rows="3"></textarea>
             </div>

         </div>  


             <div class="academic mt-5">
        <!--    <h5 class="application_pro">References</h5> -->

             <div class="form-group mt-5">
              <label>Referee  2 Name :</label>
               <input type="email" class="form-control" placeholder="Referee  2 Name">
             </div>

              <div class="form-group">
              <label>Referee 2 Title :</label>
               <input type="text" class="form-control" placeholder="SReferee 2 Title">
             </div>

              <div class="form-group">
              <label>Referee 2 Address :</label>
               <input type="email" class="form-control" placeholder="Referee 2 Address">
             </div>

             <div class="form-group">
              <label>Referee 2 Telephone Number :</label>
               <input type="text" class="form-control" placeholder="Referee 2 Address">
             </div>

               <div class="form-group">
              <label>In what capacity does the referee 2 know you?</label>
              <textarea class="form-control" rows="3"></textarea>
             </div>

         </div>  

       <div class="cntact-button back">
               <button class="banner-button" [routerLink]="['/section6']">Back</button>
               <button class="banner-button active" [routerLink]="['/section8']">Continue</button>
               <button class="banner-button">Save and Quit</button>
              </div>
       </div>          
   </div>
</section>