<section>
    <h4 class="study">ABOUT US</h4>

    <div class="container1440">
        <div class="text2">
            <p>
                Univ Global is a private limited company incorporated and registered in England and Wales with company
                number 12421438 whose registered office address is Unit 11-12, Hallmark Trading Estate, Fourth Way,
                Wembley, Middlesex, HA9 0LB. </p>

                <p>  Univ Global is headquartered in London, United Kingdom was founded in 2020. Univ Global offers a
                comprehensive course search and comparison website. Univ Global lists all postgraduate degree
                opportunities (over XXX programmes) in several destination countries. Through the ultimate search,
                students can find detailed course information and match their results / grades and English proficiency
                scores against university entry requirements in different countries. Students can contact institutions
                and obtain further information including downloading a prospectus. </p>

                <p> We are proud to work in partnership with world leading Educational Institutions in Teaching and Research
                across different countries, all of whom share our ethos to innovate and provide the highest standard of
                service. Univ Global’s advice, services and the use of their innovative portal help representatives and
                their student’s make the right decision in choosing their dream destination of study. Our services are
                designed to make all stages of the study abroad journey much simpler and in an efficient way. </p>

                <p> Univ Global is committed to enhance our technology, products, and services to help our representatives
                and students find the right institution and educational institutions to recruit a diverse range of
                students at ease. </p>


           
        </div>
    </div>

    <h4 class="study">HOW IT WORKS</h4>
    <div class="howit_work">
        <img src="assets/images/how-it.png">
    </div>

    <div class="container1440">
        <div class="text2">
         
            <p>

                Univ Global’s innovative technology may seem like magic, but there is a lot going on behind the scenes
                to ensure that every user gets the best possible result when uploading their application supporting
                documents to our automated portal. We aim to make it as easy as possible for our users throughout the
                journey of course search and matching; applying to the programmes and universities that closely align
                with their interests. We help representatives and students accomplish this in just a matter of clicks
                with our automated technology. </p>
                <p>  When an application along with supporting documents are uploaded to our portal, our engines get to work
                    analysing your documents before matching the documents against the entry criteria of partner
                    universities in different countries. Our algorithms look at the application and submitted documents and
                    break down analysis based on Academic entry requirements, English language requirements and Work
                    experiences etc.(if required) </p>
                <ul class="dots">
                    
                        <li>
                            <strong> Academic requirements: </strong> On the Academic requirement side of things, we analyse everything from our
                                in-built portal to make sure the match making is completed based on the partner universities offerings.
                                These factors help us understand and determine whether the applicant meets the Academic criteria set by
                                our partner universities. 
                        </li>
                        <li>
                            <strong>  English language requirements: </strong> On the English language requirements, our dynamic automated portal
                                detects different types of English language requirement documents uploaded on our portal, analyses the
                                requirements and determines how each English language requirement will best match together with the
                                criteria set by our partner universities. 
                        </li>
                        <li>
                            <strong>  Work Experience: </strong> On the work experience/ portfolio requirements for selected courses, our cutting-edge
                                technology can understand your main work experience roles and responsibilities and based on the
                                information it is paired with requirements set by partner universities. 
                        </li>
                        <li>
                            <strong>  Post applying: </strong> Once we offer matching universities, a user can select the universities to which they can
                                apply, and the application is submitted with a simple click of button. The next stages are the most
                                engaging and interesting where our partner universities will be processing the applications to make
                                offers to applicants. Our technology makes it easier for partner institutions to integrate the
                                application and supporting documents onto their systems which will help them process the applications
                                within their standard processing time frames before notifying the representative / applicant. Our
                                automated technology not only helps representatives / applicants in a unique, eye-catching way of
                                applying, but also ensures that the process is much simpler for partner institutions and our goal is to
                                make sure the entire process is simplified in a convenient fashion. 
                        </li>
                </ul>
               
             
            
            
                

           
        </div>
    </div>
</section>