<section>

    <h4 class="study">SEARCH COURSES</h4>
 
    <div class="banner_section uk-banner">
        <div class="australia">
            <div class="aus new">
                <!--  <h2>Study in Australia</h2> -->
                <ul>
                    <li>
                        <input type="text" class="form-control subject" placeholder="Subject Area">
                    </li>
                    <li>
                        <input type="text" class="form-control subject" placeholder="Qualification">
                    </li>
                    <li>
                        <button class="banner-button">Search</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="most_popular">
        <div class="container1440">
            <ul class="nav nav-pills canada-course  mb-3" id="pills-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="pills-tab-1-tab" data-toggle="pill" href="#pills-tab-1" role="tab"
                        aria-controls="pills-tab-1" aria-selected="true">Study in  UK
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-tab-2-tab" data-toggle="pill" href="#pills-tab-2" role="tab"
                        aria-controls="pills-tab-2" aria-selected="false">Education system</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-tab-3-tab" data-toggle="pill" href="#pills-tab-3" role="tab"
                        aria-controls="pills-tab-3" aria-selected="false">Destination of study
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-tab-4-tab" data-toggle="pill" href="#pills-tab-4" role="tab"
                        aria-controls="pills-tab-4" aria-selected="false">Study Options</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-tab-5-tab" data-toggle="pill" href="#pills-tab-5" role="tab"
                        aria-controls="pills-tab-5" aria-selected="false">Cost of studying</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-tab-6-tab" data-toggle="pill" href="#pills-tab-6" role="tab"
                        aria-controls="pills-tab-6" aria-selected="false">Scholarships</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-tab-7-tab" data-toggle="pill" href="#pills-tab-7" role="tab"
                        aria-controls="pills-tab-7" aria-selected="false">Benefits of studying</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link" id="pills-tab-8-tab" data-toggle="pill" href="#pills-tab-8" role="tab" aria-controls="pills-tab-8" aria-selected="false">tab-3</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="pills-tab-9-tab" data-toggle="pill" href="#pills-tab-9" role="tab" aria-controls="pills-tab-9" aria-selected="false">tab-3</a>
                  </li> -->
            </ul>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-tab-1" role="tabpanel"
                    aria-labelledby="pills-tab-1-tab">
                    <h4><strong>Study In United Kingdom</strong></h4>
 
                    <div class="text2">
                        The United Kingdom is another popular destination for higher education amongst international students. Several World Class institutions like Oxford, Cambridge, UCL consistently feature amongst some of the world’s top ranked universities.            
                    </div>
                    <div class="text2">
                        The United Kingdom is made up of England, Scotland, Wales and Northern Ireland. Great Britain has a constitutional monarchy with Queen Elizabet II, her royal majesty on the throne.

                    </div>
                </div>
                <div class="tab-pane fade" id="pills-tab-2" role="tabpanel" aria-labelledby="pills-tab-2-tab">
                    <h5><strong>Education system in United Kingdom</strong> </h5>
                   <div class="text2">
                    UK saw a major expansion in the higher education sector in the 19th century when royal charters were being awarded to some of prominent UK institutions. Since then, there were several initiatives launched to bestow the university status to institutions which then became the popular ones in the world.

                     
                   </div>
                   <br>
                   <div class="text2">
                    In the UK, public universities dominate the higher education system, where each university is an autonomous body and has its own entry requirements for its students. The university structure is not ruled by any government, but an independent entity from the university looks after the financial and strategic health of the University. UK universities are categorised into colleges of different subjects, which means you need to be sure about which subject you want to study before applying to a UK college. Unlike UUS where you have an option to choose electives and switch over to some other subject at the end of the year, UK institutions, irrespective of being autonomous bodies, expect you to adhere to your choice of subject. Hence, you either apply at each college of the subject that you are interested in or you apply through a centralised (common) system that allows you to apply at various colleges at the same time.

                   </div>
                   <br>   
                   <h5><strong>Types of Higher Education Institutions in the United Kingdom </strong> </h5>
                   <div class="text2">
                    In addition to universities and colleges, which are recognised institutional bodies conferring degrees in both undergraduate and postgraduate levels to its students, there are some institutions that fall in the category of “Listed bodies”. Listed bodies do not have authority to award degree, but they do offer some vocational and pathways programmes that may lead to direct employment or transition to a degree programme.

                </div>
                </div>
                <div class="tab-pane fade" id="pills-tab-3" role="tabpanel" aria-labelledby="pills-tab-3-tab">
                    <h5> <strong> United Kingdom as a destination of study</strong></h5>
                    <div class="text2">
                        The UK has been always been one of the favourite destinations amongst international students. World class institutions like the University of Oxford, University of Cambridge, University College London have continued to inspire students to become outstanding individuals and responsible citizens. The UK has a strong Asian community with people from India, Pakistan, Bangladesh, Sri Lanka and Nepal. UK recruits a high number of international students from all over the world every year. 

                    </div>
                    <br>
                    <h5> <strong>Life in the UK </strong></h5>
                    <div class="text2">
                        Scotland, Northern Ireland, Wales and England all have their specific traits. Life could differ depending on the city you live in. For ex. life in London is busy and hectic while life around the countryside may be more relaxed and simpler. Punctuality and queue system are hallmarks of British life – one is expected to be on time for an appointment and is considered impolite to be late without informing you host or the person who you are scheduled to meet. Queues are commonplace in Great Britain. Whether it is a bank, a railway station or an airport, one must wait for their turn in queues. There is no shouting and jostling or shoving of people in queues which is a good part of the British Culture.

                    </div>
                    <br>
                    <h5> <strong>Places to Visit </strong></h5>
                    <div class="text2">
                        The UK offers has several famous landmarks and popular places for visitors. Some of the popular places to visit are London Eye, Tower Bridge, Madam Tussauds Wax Museum, London Zoo, St. Pauls Cathedral and many more. Travellers usually purchase a pre-paid London pass which gives access to more than 60 popular tourist destinations in and around London. The card comes with various validity periods and is useful for people who love to travel in London. 
                        Scotland, Wales and Norther Ireland all have their own enchanting sight-seeing spots as well.

                    </div>
                </div>
                <div class="tab-pane fade" id="pills-tab-4" role="tabpanel" aria-labelledby="pills-tab-4-tab">
                    <h5> <strong>Study Options in United Kingdom</strong></h5>
                   
                   <div class="text2">
                    In the UK, degree usually take one year lesser to complete than what it takes in the USA, i.e., undergraduate programmes (full-time study) usually lasts for 3 years and postgraduate programmes for 1 year. The academic calendar varies from institution to institution. Some universities that follow quarter or trimester terms may have extended academic period – starting from September or October till May or June. Most universities follow a semester academic pattern, and a few other universities follow quarter or trimester patterns. The institutions give importance to the content of the curriculum and intrigue the students to perform in-depth research. Typical degrees that are offered by UK universities and colleges include Higher National Diploma of Higher Education, Undergraduate, Postgraduate taught and Postgraduate research, PhD and several vocational courses.

 
                   </div>
                </div>
                <div class="tab-pane fade" id="pills-tab-5" role="tabpanel" aria-labelledby="pills-tab-5-tab">
                    <h5> <strong>Cost of studying in United Kingdom</strong> </h5>
                  
                   <div class="text2 mt-2"> 
                    The cost of studying in the UK for international students varies from institution to institution. Undergraduate programmes could cost somewhere around £10,000 - £35,000 and postgraduate programmes could cost around £9000 - £42,000 depending on a classroom based or laboratory-based programme.

 
 
                   </div>
                    
                </div>
                <div class="tab-pane fade" id="pills-tab-6" role="tabpanel" aria-labelledby="pills-tab-6-tab">
                    <h5> <strong> Scholarships for International students </strong> </h5>
                   <div class="text2">
                    Some of the popular scholarships to apply include Chevening scholarships, Marshall scholarships and Commonwealth scholarships and fellowships. University scholarships that are on offer include Rhodes scholarship at the University of Oxford, Edinburgh global research scholarships and many more.

                   </div>
                 <!-- <ul class="dots">
                    <li> <strong>Australia Awards – </strong>  These scholarships are open to students looking for undergraduate or postgraduate programmes and TAFE certificates at some of the Australian institutions. The Australia Awards Scholarships cover full tuition fees return air fare and living expenses and student health cover.

 
                    </li>
                    <li> <strong>Postgraduate scholarships – </strong>  Students seeking admissions to postgraduate programmes at Australian institutions can apply for Endeavour Postgraduate Scholarship Awards or International Postgraduate Research Scholarships (IPRS)

 
                    </li>
                    <li> <strong>Australian University Scholarships – </strong>  Some of the popular Australian universities make it easier for international students to meet their tuition fees by supporting them with university specific scholarships

 
 
                    </li>
                  
                 </ul> -->
                </div>
                <div class="tab-pane fade" id="pills-tab-7" role="tabpanel" aria-labelledby="pills-tab-7-tab">
                    <h5> <strong> Benefits of studying in UK </strong> </h5>
                    <ul class="dots">
                        <li> UK is one of the leading destinations for courses in Law, Sciences, Management and Humanities
                        </li>
                        <li>UK has world class teaching and research facilities
                        </li>
                        <li> Students can find affordable housing options, and student accommodations
                        </li>
                        <li>UK degree is recognised across the world and will enhance your CV
                        </li>
                        <li> Number of scholarships are offered by universities and external organisations</li>
                        <li> International students can work part-time (20 hours per week)
                        </li>
                        </ul>
                </div>
                <!-- <div class="tab-pane fade" id="pills-tab-8" role="tabpanel" aria-labelledby="pills-tab-8-tab">...</div>
                <div class="tab-pane fade" id="pills-tab-9" role="tabpanel" aria-labelledby="pills-tab-9-tab">...</div> -->
            </div>
        </div>
    </div>
 
    <div class="most_popular">
        <div class="container1440">
            <h4 class="most">Most Popular Universities in UK</h4>
            <div class="row">
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-4">
                    <div class="images_sec">
                        <img src="assets/images/Layer1.png">
                        <div class="rmit">
                            <h1>RMIT</h1>
                        </div>
                    </div>
                </div>
 
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-4">
                    <div class="images_sec">
                        <img src="assets/images/Layer2.png">
                        <div class="rmit">
                            <h1>RMIT</h1>
                        </div>
                    </div>
                </div>
 
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-4">
                    <div class="images_sec">
                        <img src="assets/images/Folder 4.png">
                        <div class="rmit">
                            <h1>RMIT</h1>
                        </div>
                    </div>
                </div>
 
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-4">
                    <div class="images_sec">
                        <img src="assets/images/Layer3.png">
                        <div class="rmit">
                            <h1>RMIT</h1>
                        </div>
                    </div>
                </div>
 
 
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-4">
                    <div class="images_sec">
                        <img src="assets/images/Layer1.png">
                        <div class="rmit">
                            <h1>RMIT</h1>
                        </div>
                    </div>
                </div>
 
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-4">
                    <div class="images_sec">
                        <img src="assets/images/Layer2.png">
                        <div class="rmit">
                            <h1>RMIT</h1>
                        </div>
                    </div>
                </div>
 
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-4">
                    <div class="images_sec">
                        <img src="assets/images/Folder 4.png">
                        <div class="rmit">
                            <h1>RMIT</h1>
                        </div>
                    </div>
                </div>
 
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-4">
                    <div class="images_sec">
                        <img src="assets/images/Layer3.png">
                        <div class="rmit">
                            <h1>RMIT</h1>
                        </div>
                    </div>
                </div>
 
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-4">
                    <div class="images_sec">
                        <img src="assets/images/Layer1.png">
                        <div class="rmit">
                            <h1>RMIT</h1>
                        </div>
                    </div>
                </div>
 
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-4">
                    <div class="images_sec">
                        <img src="assets/images/Layer2.png">
                        <div class="rmit">
                            <h1>RMIT</h1>
                        </div>
                    </div>
                </div>
 
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-4">
                    <div class="images_sec">
                        <img src="assets/images/Folder 4.png">
                        <div class="rmit">
                            <h1>RMIT</h1>
                        </div>
                    </div>
                </div>
 
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-4">
                    <div class="images_sec">
                        <img src="assets/images/Layer3.png">
                        <div class="rmit">
                            <h1>RMIT</h1>
                        </div>
                    </div>
                </div>
 
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-4">
                    <div class="images_sec">
                        <img src="assets/images/Layer1.png">
                        <div class="rmit">
                            <h1>RMIT</h1>
                        </div>
                    </div>
                </div>
 
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-4">
                    <div class="images_sec">
                        <img src="assets/images/Layer2.png">
                        <div class="rmit">
                            <h1>RMIT</h1>
                        </div>
                    </div>
                </div>
 
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-4">
                    <div class="images_sec">
                        <img src="assets/images/Folder 4.png">
                        <div class="rmit">
                            <h1>RMIT</h1>
                        </div>
                    </div>
                </div>
 
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-4">
                    <div class="images_sec">
                        <img src="assets/images/Layer3.png">
                        <div class="rmit">
                            <h1>RMIT</h1>
                        </div>
                    </div>
                </div>
 
 
 
            </div>
 
 
           
 
 
        </div>
    </div>
 
 </section>
