.form_submit{
    max-width: 90% !important;
}
.main_formId{
    padding: 23px 30px 23px 30px !important;
    margin-bottom: 20px !important;
}
i.fa.fa-trash {
    position: absolute;
    right: 15px;
    top: -10px;
    font-size: 35px;
    color: black;
    cursor: pointer;
}