<section>

   <h4 class="study">SEARCH COURSES</h4>

   <div class="banner_section" >
      
       <div class="australia">
           <div class="aus new">
               <!--  <h2>Study in Australia</h2> -->
               <ul>
                   <li>
                       <input type="text" class="form-control subject" placeholder="Subject Area">
                   </li>
                   <li>
                       <input type="text" class="form-control subject" placeholder="Qualification">
                   </li>
                   <li>
                       <button class="banner-button">Search</button>
                   </li>
               </ul>
           </div>
       </div>
   </div>
   <div class="most_popular">
       <div class="container1440">
           <ul class="nav nav-pills canada-course  mb-3" id="pills-tab" role="tablist">
               <li class="nav-item">
                   <a class="nav-link active" id="pills-tab-1-tab" data-toggle="pill" href="#pills-tab-1" role="tab"
                       aria-controls="pills-tab-1" aria-selected="true">Study in  New Zealand
                   </a>
               </li>
               <li class="nav-item">
                   <a class="nav-link" id="pills-tab-2-tab" data-toggle="pill" href="#pills-tab-2" role="tab"
                       aria-controls="pills-tab-2" aria-selected="false">Education system</a>
               </li>
               <li class="nav-item">
                   <a class="nav-link" id="pills-tab-3-tab" data-toggle="pill" href="#pills-tab-3" role="tab"
                       aria-controls="pills-tab-3" aria-selected="false">Destination of study
                   </a>
               </li>
               <li class="nav-item">
                   <a class="nav-link" id="pills-tab-4-tab" data-toggle="pill" href="#pills-tab-4" role="tab"
                       aria-controls="pills-tab-4" aria-selected="false">Study Options</a>
               </li>
               <li class="nav-item">
                   <a class="nav-link" id="pills-tab-5-tab" data-toggle="pill" href="#pills-tab-5" role="tab"
                       aria-controls="pills-tab-5" aria-selected="false">Cost of studying</a>
               </li>
               <li class="nav-item">
                   <a class="nav-link" id="pills-tab-6-tab" data-toggle="pill" href="#pills-tab-6" role="tab"
                       aria-controls="pills-tab-6" aria-selected="false">Scholarships</a>
               </li>
               <li class="nav-item">
                   <a class="nav-link" id="pills-tab-7-tab" data-toggle="pill" href="#pills-tab-7" role="tab"
                       aria-controls="pills-tab-7" aria-selected="false">Benefits of studying</a>
               </li>
               <!-- <li class="nav-item">
                   <a class="nav-link" id="pills-tab-8-tab" data-toggle="pill" href="#pills-tab-8" role="tab" aria-controls="pills-tab-8" aria-selected="false">tab-3</a>
                 </li>
                 <li class="nav-item">
                   <a class="nav-link" id="pills-tab-9-tab" data-toggle="pill" href="#pills-tab-9" role="tab" aria-controls="pills-tab-9" aria-selected="false">tab-3</a>
                 </li> -->
           </ul>
           <div class="tab-content" id="pills-tabContent">
               <div class="tab-pane fade show active" id="pills-tab-1" role="tabpanel"
                   aria-labelledby="pills-tab-1-tab">
                   <h4><strong>Study In  New Zealand</strong></h4>

                   <div class="text2">
                     New Zealand is one of the safest and most beautiful countries in the world. Universities in New Zealand offers a very strong research – intensive curriculum which is a major advantage for international students. Situated in the southwestern Pacific Ocean, New Zealand, the land of long White Cloud for the Maori people is an island country. It comprises of the North and South Islands along with any smaller islands and breath-taking landmasses. The culture in New Zealand is diverse and unique blend of Maori and European traditions with influences from Asia, Polynesia and many other countries.

                       <br>
                   </div>
               </div>
               <div class="tab-pane fade" id="pills-tab-2" role="tabpanel" aria-labelledby="pills-tab-2-tab">
                   <h5><strong>Education system in New Zealand</strong> </h5>
                  <div class="text2">
                     The tertiary education system in New Zealand comprises of universities, polytechnics and Wananga.
                     <ul class="dots">
                        <li> <strong>Universities –</strong> There are 600 private universities and 8 state-funded universities in New Zealand. Public universities offer undergraduate, postgraduate and PhD programmes to its students.
                        </li>
                        <li> <strong>ITPS-</strong> These are Institutes of Technology and Polytechnics (ITPs) that offer foundation courses and undergraduate and postgraduate vocational courses for students. Currently there are 23 polytechnics in New Zealand.
                        </li>
                        <li> <strong>Wananga –</strong> Wananga institutes teach you everything about the culture of Maori people. If you are keen to learn about the traditional values of Maori cultures, then Wananga institutes are a good option to choose.
                        </li>
                        </ul>
                  </div>

                  

               </div>
               <div class="tab-pane fade" id="pills-tab-3" role="tabpanel" aria-labelledby="pills-tab-3-tab">
                   <h5> <strong> New Zealand as a destination of study</strong></h5>
                   <ul class="dots">
                       <li>New Zealand institutes are recognised internationally and are highly regarded by employers worldwide.

                       </li>
                       <li> Teaching standards in the country are excellent. Students will immensely benefit from smaller classroom sizes that offer more individualised attention.

                       </li>
                       <li>The education system in New Zealand rewards students for both practical and academic achievements

                       </li>
                       <!-- <li>Irish people are known for their friendly nature and hospitality
                       </li>
                       <li> Ireland’s landscape is extraordinary, and it is a dynamic and modern country.
                       </li> -->
                   </ul>
                   
               </div>
               <div class="tab-pane fade" id="pills-tab-4" role="tabpanel" aria-labelledby="pills-tab-4-tab">
                   <h5> <strong>Study Options in New Zealand</strong></h5>
                  
                  <div class="text2">
                     Institutes in New Zealand offer two academic intakes: January and July. Some institutes offer multiple intakes to its students in September and November. Students can choose between diploma, degree, vocational and polytechnic courses. Some of the popular courses amongst international students studying in New Zealand are Hospitality Management, Accounting, Mechanical Engineering, Computer Science, MBA


                  </div>
               </div>
               <div class="tab-pane fade" id="pills-tab-5" role="tabpanel" aria-labelledby="pills-tab-5-tab">
                   <h5> <strong>Cost of studying in New Zealand</strong> </h5>
                 
                  <div class="text2 mt-2"> 
                     The tuition costs could be expensive for international students. An exception is if an international student is enrolled on to a PhD programme in a recognised institution in New Zealand, then they may be paying the domestic tuition fees. Arts and Science courses could cost anywhere between NZD 20,000 and 25,000 per year. An undergraduate degree programme can cost between NZD 18,000 and 25,000 per year. A postgraduate degree programme can cost between NZD 10,000 and 30,000. The living expenses, transport costs and student health cover is a separate cost on top of the tuition fees.


                  </div>
                   
               </div>
               <div class="tab-pane fade" id="pills-tab-6" role="tabpanel" aria-labelledby="pills-tab-6-tab">
                   <h5> <strong> Scholarships for international students </strong> </h5>
                  <div class="text2">
                     Applying for a scholarship can help an international student manage their finances. The different types of scholarships are


                  </div>
                <ul class="dots">
                   <li> New Zealand development scholarships

                   </li>
                   <li>New Zealand ASEAN scholar awards

                   </li>
                   <li> New Zealand excellence awards


                   </li>
                   <li>University specific scholarships
                  </li>
                </ul>
               </div>
               <div class="tab-pane fade" id="pills-tab-7" role="tabpanel" aria-labelledby="pills-tab-7-tab">
                   <h5> <strong> Benefits of studying in New Zealand </strong> </h5>
                  <ul class="dots">
                   <li> New Zealand is home to around 40,000 international students. It is very diverse with a mix of different cultures

                   </li>
                  
                   <li> Multiple intakes and part-time work options available for international students

                   </li>
                   <li> Seven out of eight universities are recognised amongst the top 500 universities worldwide

                   </li>
                   <li> Although Auckland is the most bustling city in New Zealand, cities like Wellington, Christchurch and Hamilton are equally popular with some of the best colleges in the country

                   </li>
                   <li>The crime rate, as per world standards is low in New Zealand

                   </li>
                   <!-- <li> Ireland is also known as the largest exporter of software worldwide and is also well-known for its pharmaceutical industries
                   </li>
                   <li> International students studying at Irish institutions can work part-time for 20 hours per week
                   </li>
                   <li> Irish universities are well connected with local industries and encourage students to take up internships during their study period.
                   </li> -->
                  </ul>
               </div>
               <!-- <div class="tab-pane fade" id="pills-tab-8" role="tabpanel" aria-labelledby="pills-tab-8-tab">...</div>
               <div class="tab-pane fade" id="pills-tab-9" role="tabpanel" aria-labelledby="pills-tab-9-tab">...</div> -->
           </div>
       </div>
   </div>

   <div class="most_popular">
       <div class="container1440">
           <h4 class="most">Most Popular Universities in New Zealand</h4>
           <div class="row">
               <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-4">
                   <div class="images_sec">
                       <img src="assets/images/Layer1.png">
                       <div class="rmit">
                           <h1>RMIT</h1>
                       </div>
                   </div>
               </div>

               <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-4">
                   <div class="images_sec">
                       <img src="assets/images/Layer2.png">
                       <div class="rmit">
                           <h1>RMIT</h1>
                       </div>
                   </div>
               </div>

               <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-4">
                   <div class="images_sec">
                       <img src="assets/images/Folder 4.png">
                       <div class="rmit">
                           <h1>RMIT</h1>
                       </div>
                   </div>
               </div>

               <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-4">
                   <div class="images_sec">
                       <img src="assets/images/Layer3.png">
                       <div class="rmit">
                           <h1>RMIT</h1>
                       </div>
                   </div>
               </div>


               <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-4">
                   <div class="images_sec">
                       <img src="assets/images/Layer1.png">
                       <div class="rmit">
                           <h1>RMIT</h1>
                       </div>
                   </div>
               </div>

               <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-4">
                   <div class="images_sec">
                       <img src="assets/images/Layer2.png">
                       <div class="rmit">
                           <h1>RMIT</h1>
                       </div>
                   </div>
               </div>

               <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-4">
                   <div class="images_sec">
                       <img src="assets/images/Folder 4.png">
                       <div class="rmit">
                           <h1>RMIT</h1>
                       </div>
                   </div>
               </div>

               <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-4">
                   <div class="images_sec">
                       <img src="assets/images/Layer3.png">
                       <div class="rmit">
                           <h1>RMIT</h1>
                       </div>
                   </div>
               </div>

               <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-4">
                   <div class="images_sec">
                       <img src="assets/images/Layer1.png">
                       <div class="rmit">
                           <h1>RMIT</h1>
                       </div>
                   </div>
               </div>

               <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-4">
                   <div class="images_sec">
                       <img src="assets/images/Layer2.png">
                       <div class="rmit">
                           <h1>RMIT</h1>
                       </div>
                   </div>
               </div>

               <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-4">
                   <div class="images_sec">
                       <img src="assets/images/Folder 4.png">
                       <div class="rmit">
                           <h1>RMIT</h1>
                       </div>
                   </div>
               </div>

               <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-4">
                   <div class="images_sec">
                       <img src="assets/images/Layer3.png">
                       <div class="rmit">
                           <h1>RMIT</h1>
                       </div>
                   </div>
               </div>

               <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-4">
                   <div class="images_sec">
                       <img src="assets/images/Layer1.png">
                       <div class="rmit">
                           <h1>RMIT</h1>
                       </div>
                   </div>
               </div>

               <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-4">
                   <div class="images_sec">
                       <img src="assets/images/Layer2.png">
                       <div class="rmit">
                           <h1>RMIT</h1>
                       </div>
                   </div>
               </div>

               <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-4">
                   <div class="images_sec">
                       <img src="assets/images/Folder 4.png">
                       <div class="rmit">
                           <h1>RMIT</h1>
                       </div>
                   </div>
               </div>

               <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-4">
                   <div class="images_sec">
                       <img src="assets/images/Layer3.png">
                       <div class="rmit">
                           <h1>RMIT</h1>
                       </div>
                   </div>
               </div>



           </div>


          


       </div>
   </div>

</section>