
<section>
    <div class="container1440 mt-5">
    
     <div class="main_div">
           <h4 class="study">View Progress</h4>
          <div class="pending_sec">
                <ul>
                    <li *ngFor="let item of progressStatus;let i = index">
                        <div class="appoved" >
                              <img *ngIf="i == 0" src="assets/images/Layer 60.png">
                              <img *ngIf="i == 1" src="assets/images/Layer 61.png">
                              <img *ngIf="i == 2" src="assets/images/Layer 59.png">
                              <img *ngIf="i == 2" src="assets/images/Layer 59.png">
                              <img *ngIf="i == 2" src="assets/images/Layer 59.png">
                        </div>
                          <div class="txt_3">
                              <p>{{item.applicationStatus}}</p>
                              <p>Date :- {{item.updationTime | date : shortDate}},</p>
                              <p>{{item.updationTime | date : shortTime}}</p>
                          </div>
                    </li>
              </ul>
          </div>
      </div>
  </div>
  </section>