



<router-outlet></router-outlet>
<footer class="division-property">
    <div class="container1440">
       <div class="d-flex align-items-center het100">
          <div class="row width100">
             <div class="col-lg-4">
                <figure class="logo1">
                   <img src="assets/images/Logo1.png">
                </figure>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. </p>
             </div>
             <div class="col-lg-2">
                <h3 class="footer-heading">Information</h3>
                <ul class="footerli">
                   <li><a [routerLink]="['about-us']">About Us</a></li>
                   <li><a [routerLink]="['terms-conditions']">Terms & Conditions</a></li>
                   <li><a [routerLink]="['privacy-policy']">Privacy Policy</a></li>
                   <!--  <li><a href="28-How it Works .html">How it Works </a></li> -->
                </ul>
             </div>
             <div class="col-lg-2">
                <h3 class="footer-heading"><a href="32-Information For Applicants .html">Contact us</a></h3>
                <ul class="footerli">
                   <li><a [routerLink]="['/how-to-apply']">How to Apply</a></li>
                   <li><a href="#">Help Center</a></li>
                   <li><a [routerLink]="['/faq']">FAQ’s</a></li>
                </ul>
             </div>
             <div class="col-lg-2">
                <h3 class="footer-heading">Join our newsletter</h3>
                <button class="subscribe">Subscribe</button>
             </div>
             <div class="col-lg-2">
                <h3 class="footer-heading"><u>Connect With Us</u></h3>
                <div class="social-icons">
                   <a (click)="openSocialLink('facebook')" class="fa fa-facebook"></a>
                   <a (click)="openSocialLink('linkedin')" class="fa fa-linkedin"></a>
                   <a (click)="openSocialLink('instagram')" class="fa fa-instagram"></a>
                   <a (click)="openSocialLink('twitter')" class="fa fa-twitter"></a>                           
                   <a (click)="openSocialLink('youtube')" class="fa fa-youtube"></a>                           
                </div>
             </div>
          </div>
       </div>
    </div>
 </footer>
 <div class="bottom-footer text-center">
    <p>© Copyright 2020, All Rights Reserved </p>
 </div>