<section>
    <div class="container1440 mt-5">
        <h5 class="application_pro">Application Form</h5>
         <div class="application-form mt-5">
             <div class="academic">
           <h5 class="application_pro">Research Proposal</h5>

             <p class="do_you">Research Proposal - for PGR?</p>
           <div class="custom-button">
             <label class="custom-radio">Yes
              <input type="radio" checked="checked" name="radio">
              <span class="checkmark_cs3"></span>
             </label>

                <label class="custom-radio">No
              <input type="radio" checked="checked" name="radio">
              <span class="checkmark_cs3"></span>
             </label>
           </div>

              <p class="do_you">Please supply a description of your proposed research topic:</p>
             <div class="form-group">
              <label class="des_cs">Description:</label>
              <textarea class="form-control" rows="4"></textarea>
             </div>

              
         </div>  
       <div class="cntact-button back">
               <button class="banner-button" [routerLink]="['/section9']">Back</button>
               <button class="banner-button active" [routerLink]="['/section11']">Continue</button>
               <button class="banner-button">Save and Quit</button>
              </div>
       </div>          
   </div>
</section>