
  <section>
    <div class="container1440 mt-5">
        <h5 class="application_pro">Matching Universities</h5>
        <div class="matching mt-5">
             <h6>You can select multiple universities  where you want to read :-</h6>

              <div class="search_by_reset">
                  <select class="form-control">
                   <option>Select Country</option>
                    <option>India</option>
                     <option>Australia</option>
                     </select>
                     <i class="fa fa-sort-desc" aria-hidden="true"></i>
                        <div class="cntact-button">
                          <button class="banner-button" style="margin-right: 15px;">Submit</button>
                            <button class="banner-button">Reset</button>
                        </div>                    
                  </div>

                  <div class="custom">
                 <label class="custom-checkbox">Select All
                   <input type="checkbox" checked="checked">
                   <span class="checkmark"></span>
                 </label>
               </div>

               <div class="select_all mt-4">
                 <ul>
                     <li>
                       <div class="custom">
                         <label class="custom-checkbox">University Name
                           <input type="checkbox" checked="checked">
                           <span class="checkmark"></span>
                         </label>
                       </div>
                     </li>

                      <li>
                       <div class="custom">
                         <label class="custom-checkbox">University Name
                           <input type="checkbox" checked="checked">
                           <span class="checkmark"></span>
                         </label>
                       </div>
                     </li>


                        <li>
                       <div class="custom">
                         <label class="custom-checkbox">University Name
                           <input type="checkbox" checked="checked">
                           <span class="checkmark"></span>
                         </label>
                       </div>
                     </li>

                        <li>
                       <div class="custom">
                         <label class="custom-checkbox">University Name
                           <input type="checkbox" checked="checked">
                           <span class="checkmark"></span>
                         </label>
                       </div>
                     </li>
                 </ul>
               </div>

                  <div class="select_all mt-4">
                 <ul>
                     <li>
                       <div class="custom">
                         <label class="custom-checkbox">University Name
                           <input type="checkbox" checked="checked">
                           <span class="checkmark"></span>
                         </label>
                       </div>
                     </li>

                      <li>
                       <div class="custom">
                         <label class="custom-checkbox">University Name
                           <input type="checkbox" checked="checked">
                           <span class="checkmark"></span>
                         </label>
                       </div>
                     </li>


                        <li>
                       <div class="custom">
                         <label class="custom-checkbox">University Name
                           <input type="checkbox" checked="checked">
                           <span class="checkmark"></span>
                         </label>
                       </div>
                     </li>

                        <li>
                       <div class="custom">
                         <label class="custom-checkbox">University Name
                           <input type="checkbox" checked="checked">
                           <span class="checkmark"></span>
                         </label>
                       </div>
                     </li>
                 </ul>
               </div>

                  <div class="select_all mt-4">
                 <ul>
                     <li>
                       <div class="custom">
                         <label class="custom-checkbox">University Name
                           <input type="checkbox" checked="checked">
                           <span class="checkmark"></span>
                         </label>
                       </div>
                     </li>

                      <li>
                       <div class="custom">
                         <label class="custom-checkbox">University Name
                           <input type="checkbox" checked="checked">
                           <span class="checkmark"></span>
                         </label>
                       </div>
                     </li>


                        <li>
                       <div class="custom">
                         <label class="custom-checkbox">University Name
                           <input type="checkbox" checked="checked">
                           <span class="checkmark"></span>
                         </label>
                       </div>
                     </li>

                        <li>
                       <div class="custom">
                         <label class="custom-checkbox">University Name
                           <input type="checkbox" checked="checked">
                           <span class="checkmark"></span>
                         </label>
                       </div>
                     </li>
                 </ul>
               </div>

                  <div class="select_all mt-4">
                 <ul>
                     <li>
                       <div class="custom">
                         <label class="custom-checkbox">University Name
                           <input type="checkbox" checked="checked">
                           <span class="checkmark"></span>
                         </label>
                       </div>
                     </li>

                      <li>
                       <div class="custom">
                         <label class="custom-checkbox">University Name
                           <input type="checkbox" checked="checked">
                           <span class="checkmark"></span>
                         </label>
                       </div>
                     </li>


                        <li>
                       <div class="custom">
                         <label class="custom-checkbox">University Name
                           <input type="checkbox" checked="checked">
                           <span class="checkmark"></span>
                         </label>
                       </div>
                     </li>

                        <li>
                       <div class="custom">
                         <label class="custom-checkbox">University Name
                           <input type="checkbox" checked="checked">
                           <span class="checkmark"></span>
                         </label>
                       </div>
                     </li>
                 </ul>
               </div>

                  <div class="select_all mt-4">
                 <ul>
                     <li>
                       <div class="custom">
                         <label class="custom-checkbox">University Name
                           <input type="checkbox" checked="checked">
                           <span class="checkmark"></span>
                         </label>
                       </div>
                     </li>

                      <li>
                       <div class="custom">
                         <label class="custom-checkbox">University Name
                           <input type="checkbox" checked="checked">
                           <span class="checkmark"></span>
                         </label>
                       </div>
                     </li>


                        <li>
                       <div class="custom">
                         <label class="custom-checkbox">University Name
                           <input type="checkbox" checked="checked">
                           <span class="checkmark"></span>
                         </label>
                       </div>
                     </li>

                        <li>
                       <div class="custom">
                         <label class="custom-checkbox">University Name
                           <input type="checkbox" checked="checked">
                           <span class="checkmark"></span>
                         </label>
                       </div>
                     </li>
                 </ul>
               </div>  
                <div class="select_all mt-4">
                 <ul>
                     <li>
                       <div class="custom">
                         <label class="custom-checkbox">University Name
                           <input type="checkbox" checked="checked">
                           <span class="checkmark"></span>
                         </label>
                       </div>
                     </li>

                      <li>
                       <div class="custom">
                         <label class="custom-checkbox">University Name
                           <input type="checkbox" checked="checked">
                           <span class="checkmark"></span>
                         </label>
                       </div>
                     </li>


                        <li>
                       <div class="custom">
                         <label class="custom-checkbox">University Name
                           <input type="checkbox" checked="checked">
                           <span class="checkmark"></span>
                         </label>
                       </div>
                     </li>

                        <li>
                       <div class="custom">
                         <label class="custom-checkbox">University Name
                           <input type="checkbox" checked="checked">
                           <span class="checkmark"></span>
                         </label>
                       </div>
                     </li>
                 </ul>
               </div>

                  <div class="select_all mt-4">
                 <ul>
                     <li>
                       <div class="custom">
                         <label class="custom-checkbox">University Name
                           <input type="checkbox" checked="checked">
                           <span class="checkmark"></span>
                         </label>
                       </div>
                     </li>

                      <li>
                       <div class="custom">
                         <label class="custom-checkbox">University Name
                           <input type="checkbox" checked="checked">
                           <span class="checkmark"></span>
                         </label>
                       </div>
                     </li>


                        <li>
                       <div class="custom">
                         <label class="custom-checkbox">University Name
                           <input type="checkbox" checked="checked">
                           <span class="checkmark"></span>
                         </label>
                       </div>
                     </li>

                        <li>
                       <div class="custom">
                         <label class="custom-checkbox">University Name
                           <input type="checkbox" checked="checked">
                           <span class="checkmark"></span>
                         </label>
                       </div>
                     </li>
                 </ul>
               </div>
                    <div class="cntact-button back">
              
               <button class="banner-button " [routerLink]="['/application-form-preview']">Cancel</button>
               <button class="banner-button active" [routerLink]="['/dashboard']">Submit</button>
              </div>                                   
               </div>
       </div>
  </section>