<section>
                  
    <h4 class="study">Search Courses</h4>

    <div class="banner_section">
       <div class="australia">
          <div class="aus new">
         <!--  <h2>Study in Australia</h2> -->
             <ul>
                <li>
                   <input type="text" class="form-control subject" placeholder="Subject Area">
                </li>
                <li>
                    <input type="text" class="form-control subject" placeholder="Qualification">
                </li>
                <li>
                    <button class="banner-button">Search</button>   
                </li>
             </ul>
          </div>
       </div>
    </div>


    <div class="most_popular">
       <div class="container1440">
             <h4 class="most">Most Popular Universities in USA</h4>
                <div class="row">
                      <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-4">
                         <div class="images_sec">
                            <img src="assets/images/Layer1.png">
                            <div class="rmit">
                               <h1>RMIT</h1>
                            </div>
                         </div>
                      </div>

                      <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-4">
                         <div class="images_sec">
                            <img src="assets/images/Layer2.png">
                            <div class="rmit">
                               <h1>RMIT</h1>
                            </div>
                         </div>
                      </div>

                      <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-4">
                         <div class="images_sec">
                            <img src="assets/images/Folder 4.png">
                            <div class="rmit">
                               <h1>RMIT</h1>
                            </div>
                         </div>
                      </div>

                      <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-4">
                         <div class="images_sec">
                            <img src="assets/images/Layer3.png">
                            <div class="rmit">
                               <h1>RMIT</h1>
                            </div>
                         </div>
                      </div>


                      <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-4">
                         <div class="images_sec">
                            <img src="assets/images/Layer1.png">
                            <div class="rmit">
                               <h1>RMIT</h1>
                            </div>
                         </div>
                      </div>

                      <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-4">
                         <div class="images_sec">
                            <img src="assets/images/Layer2.png">
                            <div class="rmit">
                               <h1>RMIT</h1>
                            </div>
                         </div>
                      </div>

                      <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-4">
                         <div class="images_sec">
                            <img src="assets/images/Folder 4.png">
                            <div class="rmit">
                               <h1>RMIT</h1>
                            </div>
                         </div>
                      </div>

                      <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-4">
                         <div class="images_sec">
                            <img src="assets/images/Layer3.png">
                            <div class="rmit">
                               <h1>RMIT</h1>
                            </div>
                         </div>
                      </div>

                      <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-4">
                         <div class="images_sec">
                            <img src="assets/images/Layer1.png">
                            <div class="rmit">
                               <h1>RMIT</h1>
                            </div>
                         </div>
                      </div>

                      <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-4">
                         <div class="images_sec">
                            <img src="assets/images/Layer2.png">
                            <div class="rmit">
                               <h1>RMIT</h1>
                            </div>
                         </div>
                      </div>

                      <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-4">
                         <div class="images_sec">
                            <img src="assets/images/Folder 4.png">
                            <div class="rmit">
                               <h1>RMIT</h1>
                            </div>
                         </div>
                      </div>

                      <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-4">
                         <div class="images_sec">
                            <img src="assets/images/Layer3.png">
                            <div class="rmit">
                               <h1>RMIT</h1>
                            </div>
                         </div>
                      </div>

                      <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-4">
                         <div class="images_sec">
                            <img src="assets/images/Layer1.png">
                            <div class="rmit">
                               <h1>RMIT</h1>
                            </div>
                         </div>
                      </div>

                      <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-4">
                         <div class="images_sec">
                            <img src="assets/images/Layer2.png">
                            <div class="rmit">
                               <h1>RMIT</h1>
                            </div>
                         </div>
                      </div>

                      <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-4">
                         <div class="images_sec">
                            <img src="assets/images/Folder 4.png">
                            <div class="rmit">
                               <h1>RMIT</h1>
                            </div>
                         </div>
                      </div>

                      <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-4">
                         <div class="images_sec">
                            <img src="assets/images/Layer3.png">
                            <div class="rmit">
                               <h1>RMIT</h1>
                            </div>
                         </div>
                      </div>
                     


                </div>


                <div class="about-australia">
                   <h5>About USA</h5>
                   <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit a met lacus accumsan et viverra justo commodo.
                      Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate,
                      felis tellus mollis orci, sed rhoncus sapien nunc eget.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod vulputate, felis tellus mollis orci,
                      sed rhoncus sapien nunc eget. Lorem ipsum d olor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit a\met lacus
                      accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penati bus et mag nis dis parturient montes, nascetur ridiculus mus.
                      Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget
                   </p>
                </div>
    </div>
</div>

</section>
