<section>

   <h4 class="study">SEARCH COURSES</h4>

   <div class="banner_section usa-banner">
       <div class="australia">
           <div class="aus new">
               <!--  <h2>Study in Australia</h2> -->
               <ul>
                   <li>
                       <input type="text" class="form-control subject" placeholder="Subject Area">
                   </li>
                   <li>
                       <input type="text" class="form-control subject" placeholder="Qualification">
                   </li>
                   <li>
                       <button class="banner-button">Search</button>
                   </li>
               </ul>
           </div>
       </div>
   </div>
   <div class="most_popular">
       <div class="container1440">
           <ul class="nav nav-pills canada-course  mb-3" id="pills-tab" role="tablist">
               <li class="nav-item">
                   <a class="nav-link active" id="pills-tab-1-tab" data-toggle="pill" href="#pills-tab-1" role="tab"
                       aria-controls="pills-tab-1" aria-selected="true">Study in  USA
                   </a>
               </li>
               <li class="nav-item">
                   <a class="nav-link" id="pills-tab-2-tab" data-toggle="pill" href="#pills-tab-2" role="tab"
                       aria-controls="pills-tab-2" aria-selected="false">Education system</a>
               </li>
               <li class="nav-item">
                   <a class="nav-link" id="pills-tab-3-tab" data-toggle="pill" href="#pills-tab-3" role="tab"
                       aria-controls="pills-tab-3" aria-selected="false">Destination of study
                   </a>
               </li>
               <li class="nav-item">
                   <a class="nav-link" id="pills-tab-4-tab" data-toggle="pill" href="#pills-tab-4" role="tab"
                       aria-controls="pills-tab-4" aria-selected="false">Study Options</a>
               </li>
               <li class="nav-item">
                   <a class="nav-link" id="pills-tab-5-tab" data-toggle="pill" href="#pills-tab-5" role="tab"
                       aria-controls="pills-tab-5" aria-selected="false">Cost of studying</a>
               </li>
               <li class="nav-item">
                   <a class="nav-link" id="pills-tab-6-tab" data-toggle="pill" href="#pills-tab-6" role="tab"
                       aria-controls="pills-tab-6" aria-selected="false">Scholarships</a>
               </li>
               <li class="nav-item">
                   <a class="nav-link" id="pills-tab-7-tab" data-toggle="pill" href="#pills-tab-7" role="tab"
                       aria-controls="pills-tab-7" aria-selected="false">Benefits of studying</a>
               </li>
               <!-- <li class="nav-item">
                   <a class="nav-link" id="pills-tab-8-tab" data-toggle="pill" href="#pills-tab-8" role="tab" aria-controls="pills-tab-8" aria-selected="false">tab-3</a>
                 </li>
                 <li class="nav-item">
                   <a class="nav-link" id="pills-tab-9-tab" data-toggle="pill" href="#pills-tab-9" role="tab" aria-controls="pills-tab-9" aria-selected="false">tab-3</a>
                 </li> -->
           </ul>
           <div class="tab-content" id="pills-tabContent">
               <div class="tab-pane fade show active" id="pills-tab-1" role="tabpanel"
                   aria-labelledby="pills-tab-1-tab">
                   <h4><strong>Study In USA</strong></h4>

                   <div class="text2">
                     The United States is a popular destination for higher education amongst international students. Several American institutions like CIT, Stanford, MIT, Harvard, consistently feature amongst some of the world’s top ranked universities

                       <br>
                   </div>
               </div>
               <div class="tab-pane fade" id="pills-tab-2" role="tabpanel" aria-labelledby="pills-tab-2-tab">
                   <h5><strong>Education system in USA</strong> </h5>
                  <div class="text2">
                     There are three types of institutions in the USA.
                     <ul class="dots">
                        <li><strong>Universities – </strong>  American institutions offer a range of graduate programmes, including doctoral programmes. Universities are usually larger than colleges in terms of sizes and there are plenty of opportunities. There are public and private universities in the USA.
                           <ul class="dots">
                              <li><strong>(i)Public Universities – </strong>  These universities are funded by the US state government. These universities are often rooted to their local communities making themselves dynamic and vibrant. They offer a variety of courses and are home to a larger student population from all over the world. Public universities are located in larger cities and smaller towns and the tuition fees at public universities are much lesser when compared to private universities.
                              </li>
                              <li><strong>(ii)Private Universities –  </strong> These universities are not owned by any government body, but are run by student tuition fees, research outcome, donations and other funding sources. As they are not state funded, they have the flexibility to choose their funding scheme and how to invest the funds towards research opportunities.
                              </li>
                           </ul>
                           </li>
                       
                        <li><strong>Community Colleges – </strong>  Community colleges are small community-based colleges offering two-year vocation and certificate programmes to students. These colleges work closely with employers and offer different pathway programmes for students. The typical class sizes in community colleges are relatively small. International students can choose such colleges to opt for any bridging programmes or enhance specific skills before taking it to the next level.
                        </li>
                        <li><strong>Liberal arts colleges – </strong>  Liberal arts colleges in the USA provide undergraduate degree in liberal arts and sciences. The degrees last for four years of full-time study. These colleges could either be public or private institutions.
                        </li>
                     </ul>
                  </div>

                  <br>
                 
  

               </div>
               <div class="tab-pane fade" id="pills-tab-3" role="tabpanel" aria-labelledby="pills-tab-3-tab">
                   <h5> <strong>USA as a destination of study</strong></h5>
                   <div class="text2">
                     The USA is one of the largest countries in the world and is made up of 50 states. The country has different time zones and the climate varies from freezing cold in Alaska to the pleasant tropical climate in Hawaii. USA also offers a range of natural beauty from the Grand Canyon to the Niagara Falls and man-made marvels like the Statue of Liberty, The Golden Gate Bridge, Disney Land, The Smithsonian Museum, The Library of congress and many more than one can explore in the country.

                   </div>
                     <br>           
                   <h5> <strong>Student life in the USA </strong></h5>
                   <div class="text2">
                     It is very important that one is aware of one’s rights and local laws when living as a student in the USA. All leading institutions organise a Student Orientation Programme, which helps the international students to acclimatise to the life in the USA. Most institutions in the USA offer flexible programmes for all students, which help them find their interest before deciding on a major. This means, students who are unsure about their choice of course in the first year of their undergraduate programme can get adequate time to choose their major. Students can also opt for double major, i.e. a degree in two different subjects. Most institutions in the US are well equipped with advanced technology and facilities. They also have plenty of clubs and societies where students can engage themselves outside classrooms.
                  </div>

                  
               </div>
               <div class="tab-pane fade" id="pills-tab-4" role="tabpanel" aria-labelledby="pills-tab-4-tab">
                   <h5> <strong>Study Options in USA</strong></h5>
                  
                  <div class="text2">
                     Computer Science and Electronics, Biotechnology are some of the most popular courses in the USA. Other specialised postgraduate courses in streams like Medicine, Cosmetic Surgery, Psychology, Diabetes and Genetics are also popular.

                  </div>
                  <br>
                  <h5> <strong>Academic Pattern </strong></h5>
                  <div class="text2">
                     Some US institutions offer three academic years / admission cycles for students. The most common time for admissions is however during fall and spring semesters. The curriculum comprises of short-or mid-term assessments for students, with assignments to complete. The overall performance of students is based not on the final exams, but on how they perform in each assessment.

                  </div>
               </div>
               <div class="tab-pane fade" id="pills-tab-5" role="tabpanel" aria-labelledby="pills-tab-5-tab">
                   <h5> <strong>Cost of studying in USA</strong> </h5>
                 
                  <div class="text2 mt-2"> 
                     The cost of studying in the USA could be expensive for some international students. Community colleges cost $17,000 (along with transport and other living expenses). A four-year degree at a public college can cost $39,890 for international students $49,000 (along with transport and living expenses) at a private non-profit institution. Food and living expenses range between $8000 and $12,000 excluding the cost of transportation and other expenses. 

               </div>
                   
               </div>
               <div class="tab-pane fade" id="pills-tab-6" role="tabpanel" aria-labelledby="pills-tab-6-tab">
                   <h5> <strong> Scholarships for International students </strong> </h5>
                  <div class="text2">
                     International students applying to US institutions may apply for scholarships or financial aid to meet the tuition costs and living expenses. Students may also opt for education loans which should be repaid to banks along with an interest rate fixed by the banks. Many US universities allocate specific grants for international students to support their tuition and living costs. Besides providing funding options, a few universities provide “need-blind” admissions for students with high merits, but who have few resources to support their education. Information about funding or scholarship is available at each university website.

                  </div>
                  <div class="text2">
                     There are other external scholarships which are also very popular amongst international students. Some of the popular ones are:

                  </div>
                <ul class="dots">
                   <li>
                     Fulbright foreign student programme
                   </li>
                   <li>
                     Aga Khan foundation international scholarship programme

                   </li>
                   <li>
                     ETS TOEFL scholarships

                   </li>
                   <li>
                     British council IELTS scholarship award for Indian students
                  </li>
                 
                </ul>
               </div>
               <div class="tab-pane fade" id="pills-tab-7" role="tabpanel" aria-labelledby="pills-tab-7-tab">
                   <h5> <strong> Benefits of studying in USA </strong> </h5>
                   <ul class="dots">
                     <li>World-class education
                     </li>
                     <li>A wide variety of research-centric science and technology courses </li>
                     <li> Scholarships and fellowships offered by institutions and the American government
                     </li>
                     <li>Job-oriented management courses
                     </li>
                     <li>An American degree is highly valued by many employers around the world
                     </li>

                   </ul>
               </div>
               <!-- <div class="tab-pane fade" id="pills-tab-8" role="tabpanel" aria-labelledby="pills-tab-8-tab">...</div>
               <div class="tab-pane fade" id="pills-tab-9" role="tabpanel" aria-labelledby="pills-tab-9-tab">...</div> -->
           </div>
       </div>
   </div>

   <div class="most_popular">
       <div class="container1440">
           <h4 class="most">Most Popular Universities in USA</h4>
           <div class="row">
               <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-4">
                   <div class="images_sec">
                       <img src="assets/images/Layer1.png">
                       <div class="rmit">
                           <h1>RMIT</h1>
                       </div>
                   </div>
               </div>

               <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-4">
                   <div class="images_sec">
                       <img src="assets/images/Layer2.png">
                       <div class="rmit">
                           <h1>RMIT</h1>
                       </div>
                   </div>
               </div>

               <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-4">
                   <div class="images_sec">
                       <img src="assets/images/Folder 4.png">
                       <div class="rmit">
                           <h1>RMIT</h1>
                       </div>
                   </div>
               </div>

               <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-4">
                   <div class="images_sec">
                       <img src="assets/images/Layer3.png">
                       <div class="rmit">
                           <h1>RMIT</h1>
                       </div>
                   </div>
               </div>


               <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-4">
                   <div class="images_sec">
                       <img src="assets/images/Layer1.png">
                       <div class="rmit">
                           <h1>RMIT</h1>
                       </div>
                   </div>
               </div>

               <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-4">
                   <div class="images_sec">
                       <img src="assets/images/Layer2.png">
                       <div class="rmit">
                           <h1>RMIT</h1>
                       </div>
                   </div>
               </div>

               <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-4">
                   <div class="images_sec">
                       <img src="assets/images/Folder 4.png">
                       <div class="rmit">
                           <h1>RMIT</h1>
                       </div>
                   </div>
               </div>

               <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-4">
                   <div class="images_sec">
                       <img src="assets/images/Layer3.png">
                       <div class="rmit">
                           <h1>RMIT</h1>
                       </div>
                   </div>
               </div>

               <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-4">
                   <div class="images_sec">
                       <img src="assets/images/Layer1.png">
                       <div class="rmit">
                           <h1>RMIT</h1>
                       </div>
                   </div>
               </div>

               <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-4">
                   <div class="images_sec">
                       <img src="assets/images/Layer2.png">
                       <div class="rmit">
                           <h1>RMIT</h1>
                       </div>
                   </div>
               </div>

               <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-4">
                   <div class="images_sec">
                       <img src="assets/images/Folder 4.png">
                       <div class="rmit">
                           <h1>RMIT</h1>
                       </div>
                   </div>
               </div>

               <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-4">
                   <div class="images_sec">
                       <img src="assets/images/Layer3.png">
                       <div class="rmit">
                           <h1>RMIT</h1>
                       </div>
                   </div>
               </div>

               <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-4">
                   <div class="images_sec">
                       <img src="assets/images/Layer1.png">
                       <div class="rmit">
                           <h1>RMIT</h1>
                       </div>
                   </div>
               </div>

               <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-4">
                   <div class="images_sec">
                       <img src="assets/images/Layer2.png">
                       <div class="rmit">
                           <h1>RMIT</h1>
                       </div>
                   </div>
               </div>

               <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-4">
                   <div class="images_sec">
                       <img src="assets/images/Folder 4.png">
                       <div class="rmit">
                           <h1>RMIT</h1>
                       </div>
                   </div>
               </div>

               <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-4">
                   <div class="images_sec">
                       <img src="assets/images/Layer3.png">
                       <div class="rmit">
                           <h1>RMIT</h1>
                       </div>
                   </div>
               </div>



           </div>


          


       </div>
   </div>

</section>
