<section>
    <div class="container1440 mt-5">
        <h5 class="application_pro">Application Form</h5>
         <div class="application-form mt-5">
             <div class="academic">
           <h5 class="application_pro">Document Upload Section</h5>

               <div class="form-group mt-3">
                   <label >Upload a Research Proposal (for PGR only :</label>
                    <input type="email" class="form-control" placeholder="Upload">
                     <input type="file" class="file" style="position: absolute;top: 45px;right: -154px;opacity: 0;cursor: pointer;">
                    <i class="fa fa-paperclip" aria-hidden="true"></i>
               </div>

                  <div class="form-group mt-3">
                   <label >Upload CV : </label>
                    <input type="email" class="form-control" placeholder="Upload ">
                     <input type="file" class="file" style="position: absolute;top: 45px;right: -154px;opacity: 0;cursor: pointer;">
                    <i class="fa fa-paperclip" aria-hidden="true"></i>
               </div>

                <div class="form-group mt-3">
                   <label >Upload Transcript :</label>
                    <input type="email" class="form-control" placeholder="Upload ">
                     <input type="file" class="file" style="position: absolute;top: 45px;right: -154px;opacity: 0;cursor: pointer;">
                    <i class="fa fa-paperclip" aria-hidden="true"></i>
               </div>

                <div class="form-group mt-3">
                   <label >Upload Degree Certificate :</label>
                    <input type="email" class="form-control" placeholder="Upload  ">
                     <input type="file" class="file" style="position: absolute;top: 45px;right: -154px;opacity: 0;cursor: pointer;">
                    <i class="fa fa-paperclip" aria-hidden="true"></i>
               </div>

                <div class="form-group mt-3">
                   <label >Upload Copy of English Language Certificate :</label>
                    <input type="email" class="form-control" placeholder="Upload">
                     <input type="file" class="file" style="position: absolute;top: 45px;right: -154px;opacity: 0;cursor: pointer;">
                    <i class="fa fa-paperclip" aria-hidden="true"></i>
               </div>

                <div class="form-group mt-3">
                   <label >Upload Other Documents :</label>
                    <input type="email" class="form-control" placeholder="Upload">
                     <input type="file" class="file" style="position: absolute;top: 45px;right: -154px;opacity: 0;cursor: pointer;">
                    <i class="fa fa-paperclip" aria-hidden="true"></i>
               </div>

                <div class="form-group mt-3">
                   <label >Disclaimer Statement :</label>
                    <input type="email" class="form-control" placeholder="Upload ">
                     <input type="file" class="file" style="position: absolute;top: 45px;right: -154px;opacity: 0;cursor: pointer;">
                    <i class="fa fa-paperclip" aria-hidden="true"></i>
               </div>

              
         </div>  
       <div class="cntact-button back">
               <button class="banner-button" [routerLink]="['/section12']">Back</button>
               <button class="banner-button active" [routerLink]="['/section14']">Continue</button>
               <button class="banner-button">Save and Quit</button>
              </div>
       </div>          
   </div>
</section>