<section>
    <div class="container1440 mt-5">
        <h5 class="application_pro">Application Form</h5>
         <div class="application-form mt-5">
             <div class="academic">
           <h5 class="application_pro cs3">Additional Section  - Executive MBA</h5>
             <p class="for_mba">Additional requirements for Executive MBA</p>

               <div class="form-group mt-3">
                   <label >How many years relevant full-time managerial work experience do you have?</label>
                    <input type="email" class="form-control">
               </div>
             <div class="form-group mt-3">
                   <label >How many years total work experience do you have?</label>
                    <input type="email" class="form-control">
               </div>
                 <h6>Managerial activity :</h6>

               <div class="form-group mt-3">
                   <label >An involvement in strategic planning and decision-making that affects events beyond standard operational activities.</label>
                    <input type="email" class="form-control">
               </div>
                <div class="form-group mt-3">
                   <label >Are expected to make original contributions or deploy creative talents.</label>
                    <input type="email" class="form-control">
               </div>

                 <div class="form-group mt-3">
                   <label >A responsibility for co-ordinating the work of others in a team.</label>
                    <input type="email" class="form-control">
               </div>
                 <div class="form-group mt-3">
                   <label >Are expected to make original contributions or deploy creative talents.</label>
                    <input type="email" class="form-control">
               </div>

                    <div class="form-group mt-3">
                   <label>A responsibility for meeting financial targets that rely on the efforts of more than one person.</label>
                    <input type="email" class="form-control">
               </div>
                <div class="form-group ">
                   <label>A requirement to structure and order one’s own work activities over a period of more than one month to solve problems and deliver results.</label>
                    <input type="email" class="form-control">
                </div>

                

                  <div class="form-group mt-3">
                   <label >A defined responsibility for improving the performance of people,processes or technology.</label>
                    <input type="email" class="form-control">
               </div>
                 <div class="form-group mt-3">
                   <label >A role that primarily achieves results through influencing others rather than through direct authority.</label>
                    <input type="email" class="form-control">
               </div>

                  <div class="form-group mt-3">
                   <label >Experience of working internationally or of relevant multi-cultural exposure.</label>
                    <input type="email" class="form-control">
               </div>

              
         </div>  
       <div class="cntact-button back">
               <button class="banner-button" [routerLink]="['/section14']">Back</button>
               <button class="banner-button active" [routerLink]="['/application-form-preview']">Preview</button>
              </div>
       </div>          
   </div>
</section>