
         <section>
                  
            <h4 class="study">HOW TO APPLY</h4>

            <div class="banner_section cs3">
               <div class="australia">
                  <div class="h_apply">
               
                     <ul>
                           <li>
                                <label>Country :</label>
                                <select class="form-control kingdom">
                                <option>United Kingdom</option>
                                 <option>United Kingdom</option>
                                </select>
                            </li>
                           <li>
                                <label>County/State</label>
                                <select class="form-control kingdom">
                                <option>Washington</option>
                                 <option>Washington</option>
                                </select>
                           </li>
                            <li>
                               <label>Location :</label>
                               <input type="From" class="form-control location_search" placeholder="Search by location">

                            </li>

                            <li class="submit-cs">
                                <button class="banner-button">Submit</button>   
                            </li>

                                <li class="submit-cs">
                                <button class="banner-button">Reset</button>   
                               </li>
                     </ul>
                  </div>
               </div>
            </div>






   
          <div class="container1440">
            <div class="representative  mt-4">
              <div class="address">
                <div class="main_ul">
                  <ul>
                      <li><strong>Representative  Name :</strong></li>
                      <li><strong>Representative  Address :</strong></li>
                        <li> <strong>Representative  Contact number :</strong></li>
                        <li> <strong>Representative  Email Id :</strong></li>
                        <li> <strong>Representative  Location :</strong></li>
                        <li> <strong>Representative  Country :</strong></li>

                  </ul>
                </div>


                    <div class="main_ul cs3">
                     <ul>
                      <li>Mahesh Wanky</li>
                      <li>Los Angeles, CA,</li>
                        <li>+44-7898909876</li>
                        <li>bhaswati@gmail.com</li>
                        <li>Los Angle</li>
                        <li>CA</li>

                  </ul>
                </div>
              </div>
          </div>

            <div class="representative  mt-4">
              <div class="address">
                <div class="main_ul">
                  <ul>
                      <li><strong>Representative  Name :</strong></li>
                      <li><strong>Representative  Address :</strong></li>
                        <li> <strong>Representative  Contact number :</strong></li>
                        <li> <strong>Representative  Email Id :</strong></li>
                        <li> <strong>Representative  Location :</strong></li>
                        <li> <strong>Representative  Country :</strong></li>

                  </ul>
                </div>


                    <div class="main_ul cs3">
                     <ul>
                      <li>Mahesh Wanky</li>
                      <li>Los Angeles, CA,</li>
                        <li>+44-7898909876</li>
                        <li>bhaswati@gmail.com</li>
                        <li>Los Angle</li>
                        <li>CA</li>

                  </ul>
                </div>
              </div>
          </div>

            <div class="representative  mt-4">
              <div class="address">
                <div class="main_ul">
                  <ul>
                      <li><strong>Representative  Name :</strong></li>
                      <li><strong>Representative  Address :</strong></li>
                        <li> <strong>Representative  Contact number :</strong></li>
                        <li> <strong>Representative  Email Id :</strong></li>
                        <li> <strong>Representative  Location :</strong></li>
                        <li> <strong>Representative  Country :</strong></li>

                  </ul>
                </div>


                    <div class="main_ul cs3">
                     <ul>
                      <li>Mahesh Wanky</li>
                      <li>Los Angeles, CA,</li>
                        <li>+44-7898909876</li>
                        <li>bhaswati@gmail.com</li>
                        <li>Los Angle</li>
                        <li>CA</li>

                  </ul>
                </div>
              </div>
          </div>

              <div class="representative  mt-4">
              <div class="address">
                <div class="main_ul">
                  <ul>
                      <li><strong>Representative  Name :</strong></li>
                      <li><strong>Representative  Address :</strong></li>
                        <li> <strong>Representative  Contact number :</strong></li>
                        <li> <strong>Representative  Email Id :</strong></li>
                        <li> <strong>Representative  Location :</strong></li>
                        <li> <strong>Representative  Country :</strong></li>

                  </ul>
                </div>


                    <div class="main_ul cs3">
                     <ul>
                      <li>Mahesh Wanky</li>
                      <li>Los Angeles, CA,</li>
                        <li>+44-7898909876</li>
                        <li>bhaswati@gmail.com</li>
                        <li>Los Angle</li>
                        <li>CA</li>

                  </ul>
                </div>
              </div>
          </div>
      </div>


</section>