<section>

  <h4 class="study">SERVICES OFFERING</h4>

  <div class="bg-5">
    <div class="stdy_in">
    
    </div>
  </div>

  <div class="container1440">
    <div class="text mt-5">
      <p>
        Univ Global collaborates with overseas representatives and with Higher Education Institutions across number of
        countries to help them achieve their recruitment strategies. Our innovative technology portal simplifies the
        course search, course comparison and student application process. We help students discover and compare career
        opportunities across different countries and our online portal simplifies the process of comparison and
        applying, thereby helping them pursue their dream of studying abroad with ease.
      </p>
      <p>
        Univ Global has collaborated with qualified and vetted representatives across the world with an aim to help
        their students to compare, choose and apply to a greater number of institutions of their choices in several
        countries. Our innovative technology not only helps overseas students / representatives but also higher
        education institutions across number of countries to connect with each other. Our enhanced portal not only helps
        users to find the right university or college in a country but also helps students to get matched and to apply
        to programmes and Universities that closely align with their study background, skills, and interests.
        Representatives can manage the entire application process and communications on one portal.

      </p>
      <p>
        Univ Global’s partnership with Educational Institutions across different countries helps them further enrich
        their diverse portfolio of students from different countries and makes it easier for the partner institution to
        process the application form in a much convenient fashion. The use of our technology helps educational
        institutions in simplifying the application process and selecting the ideal candidates in a much convenient way.
        Our technology streamlines the entry requirements based on courses and makes sure that only eligible candidates
        apply to programmes listed.

      </p>
      <p>
        Univ Global is committed to help educational institutions in their international student recruitment process.

      </p>
    </div>
  </div>

</section>